<div class='carousel is-4 carousel-animated carousel-animate-slide'>
	
	
	<div class="carousel-navigation is-centered">
		
		<div class="carousel-nav-left">
			<span class="button is-normal is-outlined is-white">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			</span>
		</div>
		
		<div class="carousel-nav-right">
			<span class="button is-normal is-outlined is-white">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</span>
		</div>
	
	</div>
	
	
	<div class='carousel-container'>



		<div class='carousel-item is-active'>
			<div class="box">
				<figure class="image avatar">
					<img src='{{url_for ("static", filename="photos/1-HSibilleNB.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Hugues Sibille
					<br>
					Président du Labo de l’ESS et de la Commission Innovation sociale du CSESS   
				</h3>
				<br>
				<em>
					« L’innovation sociale est une Grande Promesse qu’il nous incombe de reconnaître, de transformer et surtout d’accélérer, pour obtenir des résultats à la hauteur des besoins sociaux non  satisfaits »
				</em>
			</div>
		</div>


		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					<img src='{{url_for ("static", filename="photos/2-FRaineix-copyr-GGonzales.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Florence Raineix
					<br>
					Directrice générale de la Fédération Nationale des Caisses d’Epargne 
				</h3>
				<br>
				<em>
					« En tant que banques coopératives régionales, les Caisses d’Epargne via leur fédération, sont fières de contribuer à la co-construction de cette plateforme au service des territoires et de ses innovations sociales » 
				</em>
				<p class="has-text-right"><br><small>photo © G. Gonzales</small></p>
			</div>
		</div>




		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					<img src='{{url_for ("static", filename="photos/3-YBlancNB.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Yannick Blanc
					<br>
					Vice-Président de la Fonda 
				</h3>
				<br>
				<em>
					« Le Carrefour des innovations sociales peut devenir un levier avec lequel on soulève le monde. Il permettra de comprendre et développer la capacité d’initiative et de coopération présente dans la société, au fondement de l’innovation sociale et de ses promesses »
				</em>
			</div>
		</div>


		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					{# <img src='{{url_for ("static", filename="illustrations/Illustration_Giorgia.png" ) }}' /> #}
					<img src='{{url_for ("static", filename="photos/4_Giorgia_copyright_AlexandraLebon.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Giorgia Sebregondi
					<br>
					Directrice du laboratoire des solidarités de la Fondation Cognacq-Jay
				</h3>
				<br>
				<em>
					« Ce projet, ce sont des rencontres enrichissantes, 
					d’autres perspectives sur l’innovation sociale, 
					l’expérience d’une gouvernance originale et la découverte de 
					nouveaux projets solidaires »
				</em>
			</div>
		</div>


		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					<img src='{{url_for ("static", filename="photos/5-CSzabo-copyr-LDaniereNB.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Cédric Szabo
					<br>
					Directeur des Maires Ruraux de France  
				</h3>
				<br>
				<em>
					« A un carrefour, se rencontrent des protagonistes 
					venus de tous horizons, dont certains ignoraient l’existence 
					des autres. C’est pour donner à tous à voir le monde rural 
					tel qu’il est que les projets municipaux ruraux ont toute 
					leur place dans ce lieu d’échanges  » 
				</em>
				<p class="has-text-right"><br><small>photo © L. Daniere</small></p>
			</div>
		</div>

		
		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					{# <img src='{{url_for ("static", filename="illustrations/Illustration_Emma.png" ) }}' /> #}
					<img src='{{url_for ("static", filename="photos/6-EStokkingNB.png" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Emma Stokkins 
					<br>
					Responsable innovation sociale à Sparknews 
				</h3>
				<br>
				<em>
					«  Sparknews a pour mission d’identifier et de mettre en valeur les
					innovations sociales les plus inspirantes. 
					Il était donc naturel de nous associer à ce carrefour 
					afin de contribuer et de trouver de nouveaux sujets »
				</em>
			</div>
		</div>


		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					{# <img src='{{url_for ("static", filename="illustrations/Illustration_Christophe.png" ) }}' /> #}
					<img src='{{url_for ("static", filename="photos/7-CThevignotNB.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Christophe Thevignot
					<br>
					AEIDL
				</h3>
				<br>
				<em>
					« Identifier, mettre en lumière et contribuer aux innovations
					sociales en Europe fait partie des priorités de l’AEIDL »
				</em>
			</div>
		</div>












		<div class='carousel-item'>
			<div class="box">
				<figure class="image avatar">
					<img src='{{url_for ("static", filename="photos/2bis-PLaurent.jpg" ) }}' />
				</figure>
				<br>
				<h3 class="has-text-primary">
					Philippe Laurent
					<br>
					Maire de Sceaux et Secrétaire général de l'AMF
				</h3>
				<br>
				<em>
					« Face au risque grandissant de fracture sociale 
					et territoriale liée à la crise, l’ESS apparaît aujourd’hui 
					comme une chance à saisir. Nous avons donc choisi de 
					participer au Carrefour des innovations sociales 
					pour partager des bonnes pratiques et des initiatives 
					à impact positif qui bouleversent les façons de faire 
					en créant de la valeur sociale partagée.   » 
				</em>
				<p class="has-text-right"><br><small>photo © ville de Sceaux</small></p>
			</div>
		</div>

	</div>


	{# <div class="carousel-navigation is-centered">
		<div class="carousel-nav-left">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</div>
		<div class="carousel-nav-right">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div> #}


	
</div>