

{% with messages = get_flashed_messages(with_categories=true) %}
	
	{% if messages %}
		
		{# <ul class=flashes> #}
		
		{% for category, message in messages %}

			{# {% if category == "popup" %}
				{% set color = "primary" %}
			{% endif %} #}


			{# <article class="message is-{{ category }} ">
				<div class="message-header has-text-centered">
					<span>{{ message | safe }}</span>
					<button class="delete" aria-label="delete"></button>
				</div>
			</article> #}



			<div class="notification is-{{ category }} has-text-centered">
				<button class="delete is-medium"></button>
				{{ message | safe }}
			</div>
		

		{% endfor %}
		
		{# </ul> #}
	
	{% endif %}

{% endwith %}



