
{# INPUT FIELD IN NAVBAR FOR FREE SEARCH #}	

<div class="navbar-item is-expanded">

	<form class="" style="width:65%">
		<div class="field has-addons is-fullwidth">
			<p class="control has-icons-left has-icons-right is-expanded">
				
				
				<input 	id="q_free_input"
						class="input is-normal is-light input-navbar" 
						type="text" 
						placeholder="rechercher un projet, un mot-clé, un lieu..."
				>
				
				<span class="icon is-normal is-left">
					<i class="fas fa-search"></i>
				</span>
			
			
			
			</p>
		</div>
	</form>

</div>

