
{% extends "main.html" %}

{% block content %}


<style>
	.aside {
		display:block;
		/* background-color: #F9F9F9; */
		border-right: 1px solid #7a7a7a;
	}
	.menu-item-active {
		color
	}

</style>

<section class="hero is-light skip-navbar">
	
	<div class="hero-body">
		
		<div class="container">
			

			<div class="columns">

				<aside class="column is-3 aside hero is-fullheight">

					<div class="menu">
				
						{# <div class="main"> #}

							<ul class="menu-list">

								<li>
									<a href="/search" class=" has-text-grey">
											<span class="icon">
												<i class="fa fa-arrow-left"></i>
											</span>
											<span class="name">Retour à la recherche</span>
									</a>
								</li>

								<br>

								<li>
									<a href="/preferences/user_infos" class="{% if site_subsection=='infos' %} has-text-primary {% else %} has-text-grey {% endif %}">
										{% if site_subsection=='infos' %} <strong> {% endif %}
											<span class="icon">
												<i class="fa fa-cog"></i>
											</span>
											<span class="name">Vos informations</span>
										{% if site_subsection=='infos' %}  </strong> {% endif %}
									</a>
								</li>

								<li>
									<a href="/preferences/user_password" class="{% if site_subsection=='password' %} has-text-primary {% else %} has-text-grey {% endif %}" >
										{% if site_subsection=='password' %} <strong> {% endif %}
											<span class="icon">
												<i class="fa fa-unlock"></i>
											</span>
											<span class="name">Changer votre mot de passe</span>
										{% if site_subsection=='password' %}  </strong> {% endif %}
									</a>
								</li>

								{# <li>
									<a href="/preferences/user_projects" class="{% if site_subsection=='projects' %} has-text-primary {% else %} has-text-grey {% endif %}" >
										{% if site_subsection=='projects' %} <strong> {% endif %}
										<span class="icon">
											<i class="fa fa-table"></i>
										</span>
										<span class="name">Mes projets</span>
										{% if site_subsection=='projects' %}  </strong> {% endif %}
									</a>
								</li> #}

								{# <li>
									<a href="/preferences/user_favorites" class="{% if site_subsection=='favorites' %} has-text-primary {% else %} has-text-grey {% endif %}" >
										{% if site_subsection=='favorites' %} <strong> {% endif %}
										<span class="icon">
											<i class="fa fa-heart"></i>
										</span>
										<span class="name">Projets sauvegardés</span>
										{% if site_subsection=='favorites' %}  </strong> {% endif %}
									</a>
								</li> #}
							
							</ul>
						
						{# </div> #}

					</div>

				</aside>



				<div class="column is-8 is-offset-1">



					<h1 class="title has-text-primary">Bienvenue {{ user_infos.userName }} </h1>

					{# <h3 class="subtitle has-text-grey">{{ user_infos.userAuthLevel }}</h3> #}
					{# <h3 class="subtitle has-text-grey">{{ user_infos.userOID }}</h3> #}
					
					
					{% include "elements/flash-messages.html"%}


					<br>
						{% if site_subsection=='infos' %}
							
							{% include "forms/form-user-parameters.html" %}

						{% elif site_subsection=='password' %}

							{% include "forms/form-user-password.html" %}

						{% endif %}

					<br>


				</div>

			</div>

		</div>
	</div>
</section>




{% endblock %}