<div class="container">

	{# navbar's buttons #}
	<div id="navbar-search-filters" class="navbar-menu">

		<!--
		{# FILTERS FROM JINJA #}
		<div class="navbar-start">

			{% set disabled_filters=["domains", "geoloc", "partners", "publics", "methods"] %}

			{% for f_choices in filters_choices %}

				{% for filter_codename, filter_data in f_choices.iteritems() %}

				<span 	id="{{ filter_codename }}"
						class="navbar-item navbar-item-filter has-dropdown is-hoverable
								{% if filter_codename not in disabled_filters %}
									
								{% else %}
									tooltip is-tooltip-danger is-tooltip-right
								{% endif %}
							" 
						{% if filter_codename in disabled_filters %}
						data-tooltip="fonctionnalité en construction"
						{% endif %}
						>

					<a class="navbar-link">
						<span>{{ filter_data["fullname"] }}</span>
					</a>

					<div class="navbar-dropdown">

						{% for i in filter_data["choices"] %}
					
						<a class="navbar-item">
							<div class="field">
								<input 	class="is-checkradio is-default is-normal" 
										id="{{filter_codename}}_{{ i[0] }}" 
										name="{{ i[0] }}" 
										value="{{ i[0] }}" 
										type="checkbox" 
										v-model="f_checked"
										>
								<label for="{{filter_codename}}_{{ i[0] }}">
									{{ i[1] }}
								</label>
							</div>
						</a>

						{% endfor %}
					

						{# <hr class="navbar-divider"> #}
					
						<div class="columns is-centered ">

							{# <div class="navbar-item"> #}

							<div class="column is-half">
								<div class="navbar-item">
									<a class="button is-text is-fullwidth">
										Effacer
									</a>
								</div>
							</div>

							{# <div class="is-divider-vertical"></div> #}

							<div class="column is-half">
								<div class="navbar-item">
									<a class="button is-text is-fullwidth">
										Valider
									</a>
								</div>
							</div>

							{# </div> #}

						</div>

					</div>
						
				</span>

				{% endfor %}

			{% endfor %}

		</div>
		-->


		{# FILTERS FROM PSEUDO-JSONS FOR VUE #}
		<div class="navbar-start">

			{# <v-filters-list 
				v-for="filters_list in f_filters"
				v-bind:checkboxes_list="filters_list"
				v-model="f_checked"
				>
			</v-filters-list> #}


			{# FILTERS TAGS #}
			<span 	v-for="checkboxes_list in f_filters_tags" 
					v-bind:id="checkboxes_list.name"
					class="navbar-item navbar-item-filter has-dropdown is-hoverable">

				<a class="navbar-link">
					<span>[[ checkboxes_list.fullname ]]</span>
				</a>

				<div 	:id="checkboxes_list.name" 
						class="navbar-dropdown">

					<!-- checkboxes loop -->
					<v-filter-categ-item 
						v-for="checkbox in checkboxes_list.choices"
						v-bind:filter="checkbox"
						v-model="f_checked"
						>
					</v-filter-categ-item>
				
					<!-- footer -->
					{# <div class="columns is-centered ">

						<div class="column"> #}
							<div class="navbar-item">
								<a 	class="button is-text is-fullwidth"
									@click="f_cleanCheckedCheckboxesList(checkboxes_list.name)"
									>
									Effacer
								</a>
							{# </div>
						</div> #}

						{# <div class="column is-half">
							<div class="navbar-item">
								<a class="button is-text is-fullwidth">
									Valider
								</a>
							</div>
						</div> #}


					</div>
				</div>
			
			</span>


			{# SPIDERS TAGS #}
			{# <span	v-for="checkboxes_list in f_filters_partners" 
					v-bind:id="checkboxes_list.name"
					class="navbar-item navbar-item-filter has-dropdown is-hoverable">
				<a class="navbar-link">
					<span>[[ checkboxes_list.fullname ]]</span>
				</a>

				<div class="navbar-dropdown">

					<!-- checkboxes loop -->
					<v-filter-categ-item 
						v-for="checkbox in checkboxes_list.choices"
						v-bind:filter="checkbox"
						v-model="f_checked_partners"
						>
					</v-filter-item>
					 #}

			<span	id="sources_"
					class="navbar-item navbar-item-filter has-dropdown is-hoverable">

				<a class="navbar-link">
					<span>Sourceurs</span>
				</a>

				<div class="navbar-dropdown">

					<!-- checkboxes loop -->
					<v-filter-categ-item 
						v-for="checkbox in f_filters_partners"
						v-bind:filter="checkbox"
						v-model="f_checked_partners"
						>
					</v-filter-item>
				
					<!-- footer -->
					<div class="columns is-centered ">

						<div class="column">
							<div class="navbar-item">
								<a class="button is-text is-fullwidth">
									Effacer
								</a>
							</div>
						</div>

						{# <div class="column is-half">
							<div class="navbar-item">
								<a class="button is-text is-fullwidth">
									Valider
								</a>
							</div>
						</div> #}

					</div>
				</div>
			
			</span>



		</div>


		{# FOR DEBUGGING PURPOSES #}
		
		<div class="navbar-end">

			<div class="navbar-item">
				{# <span>[[ f_checked ]]</span> #}
				{# <span>[[ f_checked_as_code_tags ]]</span> #}
				{# <span>[[ f_checked_as_src_tags ]]</span> #}
			</div>

			<div class="navbar-item">
				{# <span>[[ f_checked ]]</span> #}
				{# <span>[[ f_checked_as_code_tags ]]</span> #}
				{# <span>[[ f_checked_as_src_tags ]]</span> #}
			</div>

			<div class="navbar-item">
				{# <span>[[ f_checked_partners ]]</span> #}
				{# <button class="button" id="query-openscraper-infos-button"> #}
				</button>
			</div>

		</div>
		


	</div>




</div>