

<div class="container">

	{# brand #}
	<div class="navbar-brand">

		{# logo brand #}
		<a 	id="logo_home"
			class="navbar-item" 
			href="/">
			<img id="navbar-logo" src='{{url_for ("static", filename="logos/CIS/CIS_beta_logo_LD.png" ) }}' alt="Logo">
		</a>

		{# burger #}		
		<span class="navbar-burger burger" data-target="navbarMain">
			<span></span>
			<span></span>
			<span></span>
		</span> 

	</div>


	{# navbar's buttons #}
	<div id="navbarMain" class="navbar-menu">
		<div class="navbar-end">

			<div class="navbar-item">
				<a class="button is-text" href="/bientot/recherche">
					<span>Moteur de recherche</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/bientot/le-projet">
					<span>Projet</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/bientot/qui-sommes-nous"> 
					<span>Qui sommes-nous ?</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/bientot/nous-rejoindre"> 
					<span>Nous rejoindre</span>
				</a>
			</div>

		</div>
	</div>
</div>