

<div class="container">

	{# brand #}
	<div class="navbar-brand">

		{# logo brand #}
		<a 	id="logo_home"
			class="navbar-item" 
			href="/">
			<img id="navbar-logo" src='{{url_for ("static", filename="logos/CIS/CIS_logo.png" ) }}' alt="Logo CIS">
		</a>

		{# burger #}		
		<span class="navbar-burger burger" data-target="navbarMain">
			<span></span>
			<span></span>
			<span></span>
		</span> 

	</div>


	{# navbar's buttons #}
	<div id="navbarMain" class="navbar-menu">
		<div class="navbar-end">

			<div class="navbar-item">
				<a class="button is-text" href="/recherche">
					<span>Search engine</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/the-project">
					<span>Project</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/qui-sommes-nous"> 
					<span>Who are we ?</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/nous-rejoindre"> 
					<span>Nous rejoindre</span>
				</a>
			</div>

			<div class="navbar-item">
				<a class="button is-text" href="/"> 
					<span>Français</span>
				</a>
			</div>

		</div>
	</div>
</div>