<div class="container">

	{# brand #}
	<div class="navbar-brand">

		{# logo brand #}
		<a 	id="logo_home"
			class="navbar-item" 
			href="/">
			<img id="navbar-logo" src='{{url_for ("static", filename="logos/CIS/CIS_logo.png" ) }}' alt="Logo CIS">
		</a>

		{# burger #}		
		<span class="navbar-burger burger" data-target="navbar-main">
			<span></span>
			<span></span>
			<span></span>
		</span> 

	</div>


	{# navbar's buttons #}
	<div id="navbar-main" class="navbar-menu">

		<div class="navbar-end">

			<div class="navbar-item">
				<a href="/recherche">Moteur de recherche</a>
			</div>

			<div class="navbar-item {% if request.path.startswith('/le-projet') %}selected{% endif %}">
				<a href="/le-projet">Projet</a>
			</div>

			<div class="navbar-item {% if request.path.startswith('/qui-sommes-nous') %}selected{% endif %}">
				<a href="/qui-sommes-nous">Qui sommes-nous ?</a>
			</div>

			<div class="navbar-item {% if request.path == '/nous-rejoindre' %}selected{% endif %}">
				<a href="/nous-rejoindre">Nous rejoindre</a>
			</div>

			<div class="navbar-item">
				<span lang="fr">FR</span>&nbsp;/&nbsp;<a lang="en" href="/en">EN</a>
			</div>

		</div>
	</div>
</div>