

<div class="container">

	{# brand #}
	<div class="navbar-brand">

		{# logo brand #}
		<a 	id="logo_home"
			class="navbar-item" 
			href="/">
			<img id="navbar-logo" src='{{url_for ("static", filename="logos/CIS/CIS_beta_logo_LD.png" ) }}' alt="Logo">
		</a>

		{# burger #}		
		<span class="navbar-burger burger" data-target="navbarMain">
			<span></span>
			<span></span>
			<span></span>
		</span> 
		

		{# <!-- Using a <label /> here -->
		<label class="nav-toggle" for="nav-toggle-state">
			<span></span>           <!-- ^^^^^^^^^^^^^^^^ -->
			<span></span>
			<span></span>
		</label> #}

	</div>


	{# navbar's buttons #}
	<div id="navbarMain" class="navbar-menu">
		<div class="navbar-end">
			<span class="navbar-item">

				<a class="field is-grouped">
					<div class="navbar-item">
						{# <a class="modal-button" data-target="modal_charte" aria-haspopup="true">  #}
						<a class="button is-text" href="/infos/project">
							<span>Projet</span>
						</a>
					</div>

					<div class="navbar-item">
						{# <a class="button is-text" href="/info/who-are-we" disabled> #}
						<a class="modal-button" data-target="modal_who" aria-haspopup="true"> 
							<span>Qui sommes-nous ?</span>
						</a>
					</div>

					<div class="navbar-item" >
						{# <a class="modal-button" data-target="modal_legal" aria-haspopup="true">  #}
						<a 	id="btn_mailto_navbar"
							class="button is-text" 
							href="mailto:contact@carrefourdesinnovationssociales.fr">
							<span>Contact</span>
						</a>
					</div>
				</a>

			</span>
		</div>
	</div>
</div>