
<img 	style="width: 100%; margin-bottom:-8px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_haut.png" ) }}' />



{# section verbatims #}
<section class="hero is-warning">
	<div class="hero-body">
		
		<div class="container">
		
		
			<div class="content is-medium has-text-centered">
				<h3 class="has-text-white">
					<strong>Ils co-construisent le Carrefour des innovations sociales </strong>
				</h3>
			</div>

			<br>
			
			{# portraits #}
			<div class="columns is-8">

				<div class="column is-offset-1">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Emma.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Emma Stokkins, Sparknews
						</h3>
						<br>
						<em>
							«  Sparknews a pour mission d’identifier et de mettre en valeur les
							innovations sociales les plus inspirantes. 
							Il était donc naturel de nous associer à ce carrefour 
							afin de contribuer et de trouver de nouveaux sujets »
						</em>
					</div>
				</div>

				<div class="column">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Christophe.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Christophe Thevignot, AEIDL
						</h3>
						<br>
						<em>
							« Identifier, mettre en lumière et contribuer aux innovations
							sociales en Europe fait partie des priorités de l’AEIDL »
						</em>
					</div>
				</div>


				<div class="column">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Giorgia.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Giorgia Sebregondi, Fondation Cognacq-Jay
						</h3>
						<br>
						<em>
							« Ce projet, ce sont des rencontres enrichissantes, 
							d’autres perspectives sur l’innovation sociale, 
							l’expérience d’une gouvernance originale et la découverte de 
							nouveaux projets solidaires »
						</em>
					</div>
				</div>

				<div class="column is-1">
				</div>



			</div>




			<div class="content is-medium has-text-centered">
				<a class="button is-medium is-white is-outlined" href="#" >
					Devenez partenaire
				</a>
			</div>




		</div>
	</div>
</section>



<img 	style="width: 100%; margin-top: -2px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_bas.png" ) }}' />

