
<style>

#lame-constat {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_illustration_lame_comment_reperer.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
}

</style>

{# section constat #}
<section id="lame-constat" class="hero">

	<div  class="hero-body">

		<div class="container">

			<div class="columns">

				<div class="column is-half is-offset-6">

					<br><br>
					<br><br>
		
					<p class="has-text-normal">
						Les projets socialement innovants se multiplient dans les territoires. 
						Ils créent de nouveaux services et de nouvelles solidarités. 
						Bonne nouvelle, de nombreux acteurs les recensent déjà, mais il est difficile de s’y retrouver parmi un foisonnement de sites.
					</p>

					<br>

					<h2 class="content is-medium has-text-weight-bold">
						Le Carrefour des innovations sociales met en commun des projets et des outils pour 
						donner une vision précise de l'innovation sociale en France
					</h2>

					<br><br>

		</div>

	</div>

</section>


