



<img 	style="width: 100%; margin-bottom:-7px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_gris_partenaires_haut.png" ) }}' />


{# section partenaires #}
<section id="lame-partners" class="hero is-light skip-navbar" >

	<div class="hero-body">
		
		<div class="container">

			<div class="columns is-multiline">

				<div class="column logo-row is-offset-1 is-8">

					<h1 class="title has-text-primary">
						<strong>UN COLLECTIF DE 70 PARTENAIRES</strong>
					</h1>


					<p class="">
						Des associations, têtes de réseaux, accompagnateurs, institutions, fondations, think-tanks, 
						médias et acteurs de la recherche se font confiance et co-construisent le Carrefour des innovations sociales.
					</p>

					<br>

					<a 	class="button is-primary is-outlined tooltip is-tooltip-right is-tooltip-multiline"
						data-tooltip="faites-nous savoir si vous souhaitez rejoindre le collectif, partager des projets, ou simplement en savoir plus..." 
						href="#landing-form" >
						Pourquoi pas vous ?
					</a>

					&nbsp;&nbsp;&nbsp;
					{# button scroll down #}
					{# <a 	href="#lame-cta" 
						class="button  is-text tooltip is-tooltip-bottom"
						data-tooltip="continuer pour en savoir plus...">
						<span class="icon  has-text-primary">
							<i class="fas fa-2x fa-chevron-down"></i>
						</span>
					</a> #}

					<br><br><br>


					<div class="content has-text-black">


						<p>Un projet copiloté par :</p>

						<div class="container">


							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/CGET_signat_seul_CMJN.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/LaFonda_RVB.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/AVISE_RVB.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Fondation_et_acteurs_engages_RSE/FONDATION_COGNAC_JAY.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/Labo_ESS.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/APRILES.png" ) }}'/></a>

							<a><img class="img-cis-logo-mini img-cis-logo-partner" src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/GNIAC.png" ) }}'/></a>


						</div>


						<br>
						

						<p>Soutenu par :</p>

						<div class="container">

							<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Fondation_et_acteurs_engages_RSE/FNCE_Horizontal_200ans.png" ) }}'/></a>

							<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Etalab logo.PNG" ) }}'/></a>

							<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/logoEIG-01.png" ) }}'/></a>

						</div>


						<br>


						<p>Ils sont partenaires :</p>

						
						<div class="container">

							{# ASSOS  #}
								
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/AEIDL_CMYK.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/Ashoka_bleu.png" ) }}'/></a>
						
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/BrieNov.png" ) }}'/></a>
								
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/BRUDED.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/G2C.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/PRIMA_TERRA.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/SIILAB.png" ) }}'/></a>
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Associations_et_accompagnateurs/COORACE.png" ) }}'/></a>
								

							{# FONDATIONS #}



							{# INSTITUTIONS ET TETES DE RESEAUX #}
								
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/ADEME.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/AMRF.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Animafac.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/APIE_sans_signature.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/DRJSCS_HDF.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Injep+fej.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Mission_numerique.png" ) }}'/>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/RTES_quadri.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Sceaux_valley_.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/Unadel.png" ) }}'/></a>
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Institution_et_tetes_de_reseau/SGSCOP.png" ) }}'/></a>
								

							{# MEDIAS #}
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Medias_de_solutions/Sparknews.png" ) }}'/></a>
									
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Medias_de_solutions/la_part_du_colibri.png" ) }}'/></a>
								

							{# THINK TANKS #}
								
											
								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/CITEGO.png" ) }}'/></a>

								<a><img class="image img-cis-logo-mini img-cis-logo-partner " src='{{url_for ("static", filename="logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/ecoleparismanagt.png" ) }}'/></a>
						
								
						</div>





					</div>

				</div>
			</div>


			{# button to scroll down #}
			<div 	class="content has-text-centered" >
				<a 	href="#lame-cta" 
					class="button is-text tooltip is-tooltip-bottom"
					data-tooltip="continuer pour en savoir plus...">
					<span class="icon has-text-primary">
						<i class="fas fa-2x fa-chevron-down"></i>
					</span>
				</a>
			</div>


		</div>
	</div>
	
</section>



<img 	style="width: 100%; margin-top:-5px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_gris_partenaires_bas.png" ) }}' />
