
{# section formulaire #}
<section id="landing-form" class="hero is-primary skip-navbar">
	<div class="hero-body">
		<div class="container">


			<div class="columns is-centered">


				<div class="column is-6">

					<div class="content has-text-centered">
						
						{# 
						<div class="content is-medium ">
							<h3 class="has-text-white">
								<strong>Devenez beta testeur </strong>
							</h3>
						</div> 
						#}


						<a class="button is-white is-large is-outlined is-fullwidth" href="/register" >
							<strong>Créez votre compte et devenez bêta testeur </strong>
						</a>


					</div>


					{# 
					<br>

					<hr> #}

					<br>



					<div class="content is-medium has-text-centered">
						<h4 class="has-text-white">
							<strong>Une question à nous poser ? </strong>
						</h4>
					</div>

					<br>



					{% include "forms/form-preregister.html" %}
		




				</div>




			</div>
		
		
		</div>


		<br>


	</div>
</section>