
<img 	style="width: 100%; margin-bottom:-20px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_haut.png" ) }}' />

{# section verbatims #}
<section id="lame-verbatims" class="hero is-warning skip-navbar">
	<div class="hero-body">
		
		<div class="container">


			<div class="content is-medium has-text-centered">
				<h3 class="has-text-white">
					<strong>Ils co-construisent le Carrefour des innovations sociales </strong>
					&nbsp;
					<a 	href="#lame-charte" 
						class="button is-text tooltip is-tooltip-bottom"
						data-tooltip="continuer pour en savoir plus...">
						<span class="icon has-text-white">
							<i class="fas fa-lg fa-chevron-down"></i>
						</span>
					</a>
				</h3>
			</div>

			
			<div class="columns is-centered">
				<div class="column is-12">
					{% include "elements/carousel-verbatims.html" %}
				</div>
			</div>


			<div class="content is-large has-text-centered">
				<a class="button is-medium is-white is-outlined" href="#landing-form" >
					Devenez vous aussi partenaire
				</a>
			</div>


		</div>
	</div>
</section>



<img 	style="width: 100%; margin-top: -15px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_bas.png" ) }}' />

