<style>

#lame-betatest {
	background-image	: url({{url_for ("static", filename="illustrations/Landing_applat_bleu_beta_testeur.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}

</style>

{# section charte #}
<section class="hero is-white">
	
	<div id="lame-betatest" class="hero-body">
		<div class="container">
			<div class="columns">


				<div class="column is-4 is-offset-2">

					<br>
					
					<div class="content is-medium">
						<h2 class="has-text-black">
							<strong>Vous voulez devenir bêta testeur ?</strong>
						</h2>
					</div>

					<p> 
						Profitez d'un compte sur la plateforme, découvrez les fonctionnalités régulièrement
						enrichies et participez à l'amélioration du site
					</p>
					<br>
					<p>
						Le site est-il agréable à utiliser ? Vous avez des idées pour améliorer
						le moteur de recherche ? Certains boutons ne fonctionnent pas ? Faites-nous
						part de vos retours et suggestions
					</p>

					<br>

					<a class="button is-white is-outlined is-medium" href="/register" >
						Devenez bêta testeurs
					</a>

					<br>
					<br>

				</div>



			</div>
		</div>
	</div>
</section>
