
<br id="landing-video">

<style>

#lame-video {
	background-image	: url({{url_for ("static", filename="illustrations/illustrations_landing_Landing_fond_video.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
}

</style>

{# section video #}
<section id="lame-video" class="hero is-white skip-navbar">
	
	<div class="hero-body">
	
		<div class="container content is-medium has-text-centered">
			

			<h2 class="has-text-black">
				<strong>Comment ça fonctionne ? </strong>
			</h2>

			<br>

			{# video #}
			{# <div class="vid-border is-centered"> #}
				{# <img 	
						style="max-height: 300px;"
						src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_encadre_video.png" ) }}' > #}
				<video id="video-landing" controls autobuffer>
					<source src='{{url_for ("static", filename="videos/video_CIS_V2_son.m4v" ) }}'
							type="video/mp4"
					>
					Your browser does not support the video tag.
				</video> 
			{# </div> #}

			<br>

			<p>
				Vous êtes intéressé.e par le Carrefour des innovations sociales ? 
			</p>
			
			<br>

			<a class="button is-primary is-outlined" href="#lame-betatest" >
				Devenez bêta testeur
			</a>

			<br>

		</div>

		<br>

		{# button to scroll down #}
		<div 	class="content has-text-centered" >
			<a 	href="#lame-partners" 
				class="button is-text tooltip is-tooltip-bottom"
				data-tooltip="continuer pour en savoir plus...">
				<span class="icon has-text-primary">
					<i class="fas fa-2x fa-chevron-down"></i>
				</span>
			</a>
		</div>


	</div>
</section>