{# 
<style>

#landing-form {
	background-image	: url({{url_for ("static", filename="illustrations/illustrations_landing_Moteur_recherche_lame1.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: auto 100%;
	background-max-height : 900 px;
}

</style> 
#}

{# <img 	style="width: 100%; margin-bottom:-20px"
		src='{{url_for ("static", filename="illustrations/landing_Vague_bleu.png" ) }}' /> #}


{# section formulaire #}
<section id="landing-form" class="hero is-primary skip-navbar">
	
	<div class="hero-body">
	
		<div class="container">


			<div class="columns is-centered">


				<div class="column is-6">
					
					{# 
					<div class="content has-text-centered">

						<a 	class="button is-warning is-medium is-outlined is-fullwidth tooltip is-tooltip-danger" 
							data-tooltip="Très prochainement" 
							href="/register" 
							>
							<strong>Créez votre compte et devenez bêta testeur </strong>
						</a>

					</div> 
					#}

					
					{# <br>  #}
				



					<div class="content is-medium has-text-centered">
						<h4 class="has-text-white">
							<strong>Une question à nous poser ? </strong>
						</h4>
					</div>

					<br>



					{% include "forms/form-preregister.html" %}
		


				</div>




			</div>
		
		
		</div>


		<br>


	</div>
</section>