
{# section values #}
<section id="lame-values" class="hero is-white">
	<div class="hero-body">
		<div class="container">

			<br>

			<div class="content is-normal">


				<div class="columns is-8 ">

					<div class="column is-offset-1">
						<div class="content is-medium">
							<h3 class="has-text-primary ">
								<strong>Nos valeurs</strong>
							</h3>
						</div>
					</div>
				
				</div>

				<div class="columns is-8 ">

					<div class="column is-offset-1">
						<h3 class="has-text-primary has-text-centered">
							<strong>DIVERSITE</strong>
						</h3>
						<p> 
							Associations, fondations, collectifs, citoyens... imaginent chaque jour des réponses nouvelles à des besoins. 
							Nous valorisons l’ensemble de ces solutions grâce à l’expertise de nos partenaires.
						</p>
					</div>

					<div class="column">
						<h3 class="has-text-primary has-text-centered">
							<strong>OUVERTURE</strong>
						</h3>
						<p> 
							Pas de définition a priori de l’innovation sociale, chaque partenaire est garant du caractère innovant des projets qu’il partage sur le Carrefour des innovations sociales.
						</p>
					</div>

					<div class="column">
						<h3 class="has-text-primary has-text-centered">
							<strong>OPEN SOURCE</strong>
						</h3>
						<p> 
							Les outils développés pour le Carrefour des innovations sociales sont en open source. 
							Ils sont gratuits et accessibles à tous.
						</p>
					</div>


					<div class="column is-1">
					</div>


				</div>

				<br>

			</div>

			
			
			{# button to scroll down #}
			{# <div 	class="content has-text-centered" >
				<a 	href="#lame-video" 
					class="button is-text tooltip is-tooltip-bottom"
					data-tooltip="continuer pour en savoir plus...">
					<span class="icon has-text-primary">
						<i class="fas fa-2x fa-chevron-down"></i>
					</span>
				</a>
			</div> #}

		</div>



	</div>



</section>


