

{# section governance #}
<section id="lame-governance" class="hero is-light ">
	
	<div class="hero-body">
		
		<div class="container">


			<div class="columns">


				<div class="column is-offset-1 is-5">

					<div class="content is-medium">
						<h3 class="has-text-primary ">
							<strong>La gouvernance</strong>
						</h3>
					</div>

					<br> 

					<h4 class="has-text-primary ">
						<strong>
						Le projet est géré selon les principes des Communs.
						</strong>
					</h4>
					<br>

					<p>
						La richesse informationnelle produite par l’ensemble des acteurs constituant le collectif du Carrefour des innovations sociales est gérée de façon collective.
					</p>

					<br>

					<p>
						Le développement du moteur de recherche et des outils qui y sont associés est porté par le collectif dans son ensemble Chaque partenaire participe de manière égale à la gouvernance du projet selon le principe « un partenaire, une voix ».
					</p>



					<br>


				</div>




				<div class="column is-3 is-offset-2">

					<img src='{{url_for ("static", filename="illustrations/landing_page_export_Landing_illustration_France.png" ) }}'/>

					<div class="content is-normal has-text-centered">
						<a class="button is-primary is-outlined" href="/download/pdf/Charte_carrefourdesinnovationssociales_VF_V2" >
							Téléchargez la charte / PDF 
						</a>
					</div>
					
				</div>



			</div>
		
		
		
		
		</div>

		{# button to scroll down #}
		{# <div 	class="content has-text-centered" >
			<a 	href="#lame-verbatims" 
				class="button is-text tooltip is-tooltip-bottom"
				data-tooltip="continuer pour en savoir plus...">
				<span class="icon has-text-primary">
					<i class="fas fa-2x fa-chevron-down"></i>
				</span>
			</a>
		</div> #}

	</div>

</section>