
{# section formulaire #}
<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">


			<div class="content is-medium has-text-centered">
				<h3 class="has-text-white">
					<strong>Une question à nous poser ? </strong>
				</h3>
			</div>

			<br>



			<form>

				<div class="columns is-multiline">

					<div class="column is-offset-1 is-5">

						<div class="field is-horizontal">

							<div class="field-body">
								<div class="field">
									<p class="control is-expanded has-icons-left">
										<input class="input" type="text" placeholder="Prénom *">
										<span class="icon is-small is-left">
											<i class="fas fa-user"></i>
										</span>
									</p>
								</div>

								<div class="field">
									<p class="control is-expanded has-icons-left has-icons-right">
										<input class="input" type="text" placeholder="Nom *">
										<span class="icon is-small is-left">
											<i class="fas fa-user"></i>
										</span>
									</p>
								</div>

							</div>

						</div>


						<div class="field is-horizontal">

							<div class="field-body">
								<div class="field">
									<p class="control is-expanded has-icons-left">
										<input class="input" type="email" placeholder="Email *">
										<span class="icon is-small is-left">
											<i class="fas fa-envelope"></i>
										</span>
										{# <span class="icon is-small is-right">
											<i class="fas fa-check"></i>
										</span> #}
									</p>
								</div>

							</div>
							
						</div>


						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field">
									<div class="control">
										<textarea class="textarea" placeholder="Votre message, vos suggestions... *" rows="8"></textarea>
									</div>
									<p class="help is-light">* champs requis</p>
								</div>
							</div>
						</div>


					</div>




					<div class="column is-5">


						<div class="field">
							<input class="is-checkradio is-medium" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
							<label for="exampleCheckbox">Je voudrais devenir bêta testeur</label>
							<p style="margin-left: 50px">
								Vous bénéficiez d’un compte personnel pour tester la version bêta
								du site et nous proposer vos idées d’amélioration
							</p>
						</div>

						<div class="field">
							<input class="is-checkradio is-medium" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
							<label for="exampleCheckbox">J’ai des projets à valoriser</label>
							<p style="margin-left: 50px">
								Vous recensez des projets socialement innovants sur votre propre site et 
								vous aimeriez qu’ils apparaissent sur le Carrefour des innovations sociales
							</p>
						</div>

						<div class="field">
							<input class="is-checkradio is-medium" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
							<label for="exampleCheckbox">J’aimerais être partenaire du projet</label>
							<p style="margin-left: 50px">
								Vous trouvez le projet intéressant et vous voulez participer 
								à sa construction avec ou sans projets à valoriser
							</p>
						</div>

						<br>

						<div class="field">
							<div class="control">
								<button class="button is-medium is-primary is-inverted is-outlined">Envoyer</button>
							</div>
						</div>


					</div>




				</div>


			</form>
		
		
		
		
		
		</div>
	</div>
</section>