
<style>

#lame-dates {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_applat_gris_dates_clés.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}

</style>




{# section dates clés #}
<section id="lame-dates" class="hero is-white">
	<div class="hero-body">
		<div class="container">

			<div class="content is-medium  has-text-centered">
				<h2 class="has-text-black">
					<strong>Les dates clés </strong>
				</h2>
			</div>


			<br>


			<div class="content is-normal">


				<div class="timeline is-centered">

					
					<header class="timeline-header">
						<span class="tag is-primary">2016</span>
					</header> 
					

					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Juillet 2016</p>
							<p>
								Une dizaine d’acteurs se fédèrent pour repérer <br>
								et valoriser les innovations sociales
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">2017</span>
					</header> 
					

					<div class="timeline-item ">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Juillet 2017</p>
							<p>
								Le Carrefour des innovations sociales est inscrit dans <br>
								la Conférence nationale des territoires
							</p>
						</div>
					</div>
					


					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Septembre 2017</p>
							<p>	
								La charte du collectif est adoptée
							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Novembre 2017</p>
							<p>	
								L’association de préfiguration du Carrefour des innovations <br>
								sociales est créée
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">2018</span>
					</header> 
					


					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Avril 2018</strong>
							</p>
							<p>	
								Le site beta est lancé
							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-light"></div>
						<div class="timeline-content">
							{# <p class="heading">
								<strong>Avril 2018</strong>
							</p> #}
							<p>
								Des expérimentations territoriales sont mises en place <br>
								pour améliorer le site
							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-light"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Septembre 2018</strong>
							</p>
							<p>
								Une nouvelle version du site avec plus de fonctionnalités
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">...</span>
					</header> 
					


				</div>



			</div>





		</div>
	</div>
</section>