



<img 	style="width: 100%; margin-bottom:-7px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_gris_partenaires_haut.png" ) }}' />


{# section partenaires #}
<section class="hero is-light" >

	<div class="hero-body">
		<div class="container">

			<h1 class="title has-text-primary">
				<strong>UN COLLECTIF DE 70 PARTENAIRES</strong>
			</h1>


			<p class="">
				Des associations, têtes de réseaux, accompagnateurs, institutions, fondations, think-tanks, 
				médias et acteurs de la recherche se font confiance et co-construisent le Carrefour des innovations sociales.
			</p>

			<br>

			<a class="button is-primary is-outlined" href="#" >
				Pourquoi pas vous ?
			</a>

			<br>
			
			<br>

			<div class="content has-text-primary">

				<p>Un projet copiloté par</p>


				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/128x128.png"/>
				</figure>


				<br>
				<p>Soutenu par</p>






				<br>
				<p>Ils sont partenaires</p>




			</div>


		</div>
	</div>
</section>


<img 	style="width: 100%;"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_gris_partenaires_bas.png" ) }}' />
