{# section charte #}
<section id="lame-charte" class="hero is-white skip-navbar">
	
	<div class="hero-body">
	
		<div class="container">
	
			<div class="columns">




				<div class="column is-6 has-text-centered">
					<img style="max-height:250px" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_perso_charte.png" ) }}'/>
				</div>



				<div class="column">

					<br>
					<br>
					
					<div class="content is-medium">
						<h2 class="has-text-black">
							<strong>La charte du collectif</strong>
						</h2>
					</div>


					<p> 
						Un projet gouverné de manière collective suivant les principes des Communs. <br>
						Découvrez en détails les valeurs et l’organisation du Carrefour des innovations sociales.
					</p>

					<br><br>

					<a class="button is-primary is-outlined" href="/download/pdf/Charte_carrefourdesinnovationssociales_VF_V2" >
						Téléchargez la charte / PDF 
					</a>

					&nbsp;&nbsp;&nbsp;
					{# <br><br> #}
					{# button to scroll down #}
					{# <div 	class="content has-text-centered" > #}
						<a 	href="#lame-dates" 
							class="button is-text tooltip is-tooltip-bottom"
							data-tooltip="continuer pour en savoir plus...">
							<span class="icon has-text-primary">
								<i class="fas fa-lg fa-chevron-down"></i>
							</span>
						</a>
					{# </div> #}

				</div>






			</div>
		</div>
	</div>
</section>
