{# section charte #}
<section class="hero is-white">
	<div class="hero-body">
		<div class="container">
			<div class="columns">




				<div class="column is-4">
					<img style="max-height:" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_perso_charte.png" ) }}'/>
				</div>



				<div class="column">

					<div class="content is-medium">
						<h2 class="has-text-black">
							<strong>La charte du collectif</strong>
						</h2>
					</div>


					<p> 
						Un projet gouverné de manière collective suivant les principes des Communs. <br>
						Découvrez en détails les valeurs et l’organisation du Carrefour des innovations sociales.
					</p>

					<br>

					<a class="button is-primary is-outlined" href="#" >
						Téléchargez la charte / PDF 276 Ko
					</a>


				</div>










			</div>
		</div>
	</div>
</section>
