
<style>

#lame-dates {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_applat_gris_dates_cles.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: 100% auto;
	background-max-height : 600 px;
}

</style>




{# section dates clés #}
<section id="lame-dates" class="hero is-white ">
	<div class="hero-body">
		<div class="container">

			<div class="content is-medium  has-text-centered">

				{% if site_section != "project" %}
				<h2 class="has-text-black">
				{% else %}
				<h2 class="has-text-primary">
				{% endif %}

					<strong>Les dates clés </strong>
				</h2>
									
				{# button to scroll down #}
				{% if site_section != "project" %}
				<a 	href="#lame-betatest" 
					class="button is-text is-medium tooltip is-tooltip-bottom"
					data-tooltip="continuer pour en savoir plus...">
					<span class="icon has-text-primary">
						<i class="fas fa-lg fa-chevron-down"></i>
					</span>
				</a>
				{% endif %}
			</div>


			<br>


			<div class="content is-normal">


				<div class="timeline is-centered">

					
					<header class="timeline-header">
						<span class="tag is-primary">2016</span>
					</header> 
					

					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Juillet 2016</p>
							<p>
								Une dizaine d’acteurs se fédèrent pour repérer <br>
								et valoriser les innovations sociales
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">2017</span>
					</header> 
					

					<div class="timeline-item ">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Juillet 2017</p>
							<p>
								Le Carrefour des innovations sociales est inscrit dans <br>
								la Conférence nationale des territoires
							</p>
						</div>
					</div>
					


					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Septembre 2017</p>
							<p>	
								La charte du collectif est adoptée
							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">Novembre 2017</p>
							<p>	
								L’association de préfiguration du<br>
								Carrefour des innovations sociales est créée
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">2018</span>
					</header> 
					

					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Mars 2018</strong>
							</p>
							<p>	
								<a class="has-text-primary" href="http://www.cis-openscraper.com/" target="_blank">
								Open scraper</a>
								est développé et mis en ligne. <br>
								Il s'agit de la première 'brique' logicielle 
								<br>
								permettant de mutualiser les projets 
								d'innovations sociales
								<br>
								de tous les partenaires
							</p>
						</div>
					</div>

					<div class="timeline-item">
						<div class="timeline-marker is-primary"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Avril 2018</strong>
							</p>
							<p>	
								Le site 
								<a class="has-text-primary" href="http://carrefourdesinnovationssociales.fr/"> 
								carrefourdesinnovationssociales.fr </a>
								est lancé en version bêta,<br>
								lui-même adossé à 
								<a class="has-text-primary" href="http://www.cis-openscraper.com/" target="_blank">
								Open scraper</a>

							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-warning"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Mai-Juillet 2018</strong>
							</p>
							<p>
								Des expérimentations territoriales seront
								mises en place pour améliorer le site.
								<br>
								Le site continuera d'être développé en continu
								ainsi que différentes autres 'briques' logicielles
							</p>
						</div>
					</div>


					<div class="timeline-item">
						<div class="timeline-marker is-warning"></div>
						<div class="timeline-content">
							<p class="heading">
								<strong>Automne 2018</strong>
							</p>
							<p>
								Une nouvelle version du site 
								<br>avec plus de fonctionnalités
								sera présentée au public
							</p>
						</div>
					</div>

					
					<header class="timeline-header">
						<span class="tag is-primary">...</span>
					</header> 
					


				</div>



			</div>





		</div>
	</div>
</section>