
<img 	style="width: 100%; margin-bottom:-20px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_haut.png" ) }}' />



{# section verbatims #}
<section class="hero is-warning">
	<div class="hero-body">
		
		<div class="container">
		
		
			<div class="content is-medium has-text-centered">
				<h3 class="has-text-white">
					<strong>Ils co-construisent le Carrefour des innovations sociales </strong>
				</h3>
			</div>

			
			<div class="columns is-centered">
				<div class="column is-12">
					{% include "elements/carousel-verbatims.html" %}
				</div>
			</div>


			<!--
			{# portraits #}
			<div class="columns is-8">


				<div class="column is-1">
				</div>


				{# 
				<div class="column">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Emma.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Emma Stokkins, Sparknews
						</h3>
						<br>
						<em>
							«  Sparknews a pour mission d’identifier et de mettre en valeur les
							innovations sociales les plus inspirantes. 
							Il était donc naturel de nous associer à ce carrefour 
							afin de contribuer et de trouver de nouveaux sujets »
						</em>
					</div>
				</div> #}

				<div class="column">
					<div class="box">
						<figure class="image avatar">
							<img src='{{url_for ("static", filename="photos/1-HSibilleNB.jpg" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Hugues Sibille, Président du Labo de l’ESS et de la Commission Innovation sociale du CSESS   
						</h3>
						<br>
						<em>
							« L’innovation sociale est une Grande Promesse qu’il nous incombe de reconnaître, de transformer et surtout d’accélérer, pour obtenir des résultats à la hauteur des besoins sociaux non  satisfaits »
						</em>
					</div>
				</div>


				<div class="column">
					<div class="box">
						<figure class="image avatar">
							<img src='{{url_for ("static", filename="photos/2-FRaineixNB-Copyright-Greg-Gonzales.jpg" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Florence Raineix, directrice générale de la Fédération Nationale des Caisses d’Epargne 
						</h3>
						<br>
						<em>
							« En tant que banques coopératives régionales, les Caisses d’Epargne via leur fédération, sont fières de contribuer à la co-construction de cette plateforme au service des territoires et de ses innovations sociales » 
						</em>
					</div>
				</div>


				<div class="column">
					<div class="box">
						<figure class="image avatar">
							<img src='{{url_for ("static", filename="photos/3-YBlancNB_qualite+.jpg" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Yannick Blanc, Vice-Président de la Fonda 
						</h3>
						<br>
						<em>
							« Le Carrefour des innovations sociales peut devenir un levier avec lequel on soulève le monde. Il permettra de comprendre et développer la capacité d’initiative et de coopération présente dans la société, au fondement de l’innovation sociale et de ses promesses »
						</em>
					</div>
				</div>


				{# <div class="column">
					<div class="box">
						<figure class="image avatar">
							<img src='{{url_for ("static", filename="photos/1-HSibilleNB.jpg" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Hugues Sibille, Président du Labo de l’ESS et de la Commission Innovation sociale du CSESS   
						</h3>
						<br>
						<em>
							« L’innovation sociale est une Grande Promesse qu’il nous incombe de reconnaître, de transformer et surtout d’accélérer, pour obtenir des résultats à la hauteur des besoins sociaux non  satisfaits »
						</em>
					</div>
				</div> #}


				{# <div class="column">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Christophe.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Christophe Thevignot, AEIDL
						</h3>
						<br>
						<em>
							« Identifier, mettre en lumière et contribuer aux innovations
							sociales en Europe fait partie des priorités de l’AEIDL »
						</em>
					</div>
				</div> #}


				{# <div class="column">
					<div class="box">
						<figure class="image">
							<img src='{{url_for ("static", filename="illustrations/Illustration_Giorgia.png" ) }}' />
						</figure>
						<br>
						<h3 class="has-text-primary">
							Giorgia Sebregondi, Fondation Cognacq-Jay
						</h3>
						<br>
						<em>
							« Ce projet, ce sont des rencontres enrichissantes, 
							d’autres perspectives sur l’innovation sociale, 
							l’expérience d’une gouvernance originale et la découverte de 
							nouveaux projets solidaires »
						</em>
					</div>
				</div> #}





				<div class="column is-1">
				</div>



			</div>
			-->



			<div class="content is-large has-text-centered">
				<a class="button is-medium is-white is-outlined" href="#landing-form" >
					Devenez vous aussi partenaire
				</a>
			</div>




		</div>
	</div>
</section>



<img 	style="width: 100%; margin-top: -15px"
		src='{{url_for ("static", filename="illustrations/illustrations_landing_Landing_applat_jaune_verbatim_bas.png" ) }}' />

