
{# section prop valeur #}
<section id="lame-prop-valeur" class="hero is-white skip-navbar">
	<div class="hero-body">
		<div class="container">

			<div class="content is-normal">


				<div class="columns is-8">


					<div class="column is-offset-1">
						<img class="img-cis-mini" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_regrouper.png" ) }}'>
						<h3 class="has-text-primary">
							<strong>Regrouper</strong>
						</h3>
						<p> 
							... en un espace partagé l’information 
							fiable disponible sur les projets d’innovation sociale en France 
						</p>
					</div>

					<div class="column">
						<img class="img-cis-mini" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_reperer.png" ) }}'>
						<h3 class="has-text-primary">
							<strong>Repérer</strong>
						</h3>
						<p> 
							... et visualiser les projets dans leurs écosystèmes 
							locaux, quelle que soit l’échelle (locale, régionale, nationale) 
						</p>
					</div>

					<div class="column">
						<img class="img-cis-mini" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_mesurer.png" ) }}'>
						<h3 class="has-text-primary">
							<strong>Mesurer</strong>
						</h3>
						<p> 
							... les dynamiques d’innovation sociale par territoire
						</p>
					</div>


					<div class="column">
						<img class="img-cis-mini" src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_inspirer.png" ) }}'>
						<h3 class="has-text-primary">
							<strong>Inspirer</strong>
						</h3>
						<p> 
							... toute envie d’agir et soutenir l’essaimage des innovations sociales
						</p>
					</div>

					<div class="column is-1">
					</div>


				</div>


			</div>


			<br>

			
			{# button to scroll down #}
			<div 	class="content has-text-centered" >
				<a 	href="#lame-video" 
					class="button is-text tooltip is-tooltip-bottom"
					data-tooltip="continuer pour en savoir plus...">
					<span class="icon has-text-primary">
						<i class="fas fa-2x fa-chevron-down"></i>
					</span>
				</a>
			</div>

		</div>

	</div>

</section>


