

{# section rejoignez-nous #}
<section class="hero is-white">
	<div class="hero-body">
		<div class="container">


			<div class="columns">


				<div class="column is-offset-1 is-6">

					<div class="content is-medium">
						<h3 class="has-text-primary ">
							<strong>Vous avez des projets à valoriser ?</strong>
						</h3>
					</div>


					<p> 
						Partagez vos projets sur la plateforme et profitez d’un compte professionnel. <br>
						Participez à un collectif atypique géré sur le principe des communs. <br>
						Co-construisez ce projet avec nous ! 
					</p>

					<br>

					<a class="button is-primary is-outlined" href="#" >
						Rejoignez le réseau des partenaires
					</a>


				</div>




				<div class="column">
					<img src='{{url_for ("static", filename="illustrations/landing_page_export_Illustration_reseau_partenaires.png" ) }}'/>
				</div>





			</div>
		
		
		
		
		</div>
	</div>
</section>