<style>

#lame-titre {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_illustration_lame1_France.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}

</style>


<section class="hero is-fullheight" >

	<div id="lame-titre" class="hero-body" >

		<div class="container">


			<br><br>

			<div class="columns">

				<div class="column is-6 is-offset-1">
					

					{# main title #}
					<div class="columns">

						<div class="column is-2">
							<figure class="image">
								<img src='{{url_for ("static", filename="logos/CIS/CIS_logo_triangles_LD.png" ) }}'>
							</figure>
						</div>


						<div class="column">
							<h1 class="title has-text-primary">
								<span style="font-weight:normal">UN MOTEUR DE RECHERCHE</span><br>
								<strong>DES INNOVATIONS SOCIALES</strong>
							</h1>
						</div>

					</div>
					
					<h2 class="subtitle">
						Le Carrefour des innovations sociales regroupe les innovations sociales
						recensées et actualisées par des partenaires experts.
					</h2>

					<br><br><br>

					{# tagline #}
					<div class="content is-medium">
						<h4>
							<strong>Découvrez la version bêta du moteur de recherche</strong>
						</h4>
					</div>

					{# buttons #}
					<div class="columns is-6">

						<div class="column is-6 has-text-centered">
							<p>Vous êtes partenaire du projet ?</p> <br>
							<a class="button is-primary is-normal is-outlined is-fullwidth" href="/login">
								<strong>Connectez-vous</strong>
							</a>
			  			</div>

						<div class="column is-6 has-text-centered">
							<p>Vous êtes intéressé.e par le projet ?</p><br>
							<a class="button is-primary is-normal is-outlined is-fullwidth" href="#landing-form" >
								<strong>Devenez bêta testeur</strong>
							</a>
			  			</div>

					</div>



				</div>


			</div>




		</div>
	</div>

</section>