
<form action="/register" method="POST" name="form">

	{{ form.hidden_tag() }}
	{# { { form.csrf_token }} #}

	<div class="field">
		<label class="label">vos informations</label>
		<div class="control has-icons-left">
			{{ form.userName }}
			<span class="icon is-small is-left">
				<i class="fas fa-user"></i>
			</span>
		</div>
	</div>

	<div class="field">
		<div class="control has-icons-left">
			{{ form.userSurname }}
			<span class="icon is-small is-left">
				<i class="fas fa-user"></i>
			</span>
		</div>
	</div>

	<div class="field">
		<div class="control has-icons-left">
			{{ form.userEmail }}
			<span class="icon is-small is-left">
				<i class="fas fa-envelope"></i>
			</span>
		</div>
	</div>

	<div class="field">
		<div class="control has-icons-left">
			{{ form.registerPassword }}
			<span class="icon is-small is-left">
				<i class="fas fa-key"></i>
			</span>
		</div>
	</div>

	<div class="field">
		<div class="control has-icons-left">
			{{ form.userConfirmPassword }}
			<span class="icon is-small is-left">
				<i class="fas fa-key"></i>
			</span>
		</div>
	</div>
	<p class="help is-light">* champs requis</p>
	


	<div class="is-divider" data-content="votre profil métier (optionnel)"></div>
	

	<div class="field">
		<div class="control">
			<div class="select is-fullwidth">
				{{ form.userProfile }}
			</div>
		</div>
	</div>



	<div class="is-divider" data-content="votre structure (optionnel) "></div>


	<div class="field">
		<div class="control">
			<div class="select is-fullwidth">
				{{ form.userPartnerStructure }}
			</div>
		</div>
	</div>
	

	<div class="field" style='display:none' id="userOtherStructureField">
		<div class="control has-icons-left">
			{{ form.userOtherStructure }}
			<span class="icon is-small is-left">
				<i class="fas fa-building"></i>
			</span>
		</div>
	</div>

	{# <div class="field" style='display:none' id="userSiretField">
		<div class="control has-icons-left">
			{{ form.userSiret }}
			<span class="icon is-small is-left">
				<i class="fas fa-building"></i>
			</span>
		</div>
		<p class="help is-light">(optionnel)</p>
	</div> #}


	<div class="field" style='display:none' id="userStructureProfileField">
		<div class="control">
			<div class="select is-fullwidth">
				{{ form.userStructureProfile }}
			</div>
		</div>
	</div>


	<div id="userWishesFields" style='display:none'>

		<div class="is-divider" data-content="vos envies"></div>

		<div class="field is-pulled-left">
			{{ form.userHaveProjects( class ='is-checkradio is-black is-normal') }}
			{{ form.userHaveProjects.label }}
		</div>
		<br>
		<div class="field is-pulled-left">
			{{ form.userJoinCollective( class ='is-checkradio is-black is-normal') }}
			{{ form.userJoinCollective.label }}
		</div>
		<br><br>
		
	</div>
	


	{# 
	<br>

	<div class="field">
		{{ form.rememberMe }}
		<label class="checkbox">
			se souvenir de moi
		</label>
	</div> 
	#}

	<div class="is-divider" data-content="une remarque, un commentaire ? (optionnel)"></div>


	<div class="field is-horizontal">
		<div class="field-body">
			<div class="field">
				<div class="control">
					{{ form.userMessage() }}
				</div>
			</div>
		</div>
	</div>


	<br>

	<button class="button is-block is-primary is-large is-fullwidth" type="submit">
		S'enregistrer
	</button>


</form>

<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/form-display-other-structure-name.js') }}"></script>
