
<form action="/nous-rejoindre/structure-sans-projets" method="POST" name="form">
	<fieldset>
		{{ structureNoProjectsForm.hidden_tag() }}
		{# { { form.csrf_token }} #}

		<div hidden>
			{{ structureNoProjectsForm.userMiddlename() }}
		</div>

		<br>
		
		<div class="field">
			<p class="control is-expanded">
				<label>Nom de votre structure *
					{{ structureNoProjectsForm.structureName }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label>Lien vers son site web *
					{{ structureNoProjectsForm.structureWebsite }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label>Votre nom *
					{{ structureNoProjectsForm.structureContactName }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label>Votre fonction dans la structure *
					{{ structureNoProjectsForm.structureContactRole }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label>Votre email *
					{{ structureNoProjectsForm.structureContactEmail }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label>Pourquoi voulez-vous rejoindre le Carrefour des Innovations Sociales ? *
					{{ structureNoProjectsForm.structureReasonToJoin }}
				</label>
			</p>
		</div>

		<div class="field">
			<p class="control is-expanded">
				<label><p>Quel(s) sujet(s) qui vous intéresse(nt) ? *
                <p>Ces trois sujets font l’objet de groupes de travail au sein du collectif dans le(s)quel(s) vous pourriez vous investir.

					{{ structureNoProjectsForm.structureInterests }}
				</label>
			</p>
		</div>


		<p class="help is-light">* champs requis</p>

		{# SUBMIT BTN #}
		<div class="field is-grouped is-grouped-centered">
			<button class="button is-primary is-medium" type="submit">
				Envoyer
			</button>
		</div>
		
		<br>
	
	</fieldset>
	
</form>