
<form action="/preferences/user_password" method="POST" name="form">

	{{ form.hidden_tag() }}
	{# { { form.csrf_token }} #}

	{{ form.userOID() }}
	{# {{ form.userEmailHidden() }} #}


	{# PASSWORD RENEWAL #}

	{# <div class="columns">

		<div class="column">

			<a 	class="button is-outlined is-primary is-medium " 
				id="showModifyPwdBtn"
				onclick="ToggleModifyPassword()"
				>
				Modifier mon mot de passe
			</a>
		</div>

	</div> #}

	<div style='' id="userModifyPassword">

		<div class="columns" >

			<div class="column is-half">

				<div class="field">
					<label class="label">Ancien mot de passe</label>
					<div class="control has-icons-left">
						{{ form.oldPassword (class='input is-medium') }}
						<span class="icon is-small is-left">
							<i class="fas fa-key"></i>
						</span>
					</div>
				</div>

			</div>

		</div>


		<div class="columns">

			<div class="column is-half">

				<div class="field">
					<label class="label">Nouveau mot de passe</label>
					<div class="control has-icons-left">
						{{ form.newPassword (class='input is-medium')  }}
						<span class="icon is-small is-left">
							<i class="fas fa-key"></i>
						</span>
					</div>
				</div>

			</div>

			<div class="column is-half">

				<div class="field">
					<label class="label">Confirmez votre nouveau mot de passe</label>
					<div class="control has-icons-left">
						{{ form.userConfirmPassword (class='input is-medium')  }}
						<span class="icon is-small is-left">
							<i class="fas fa-key"></i>
						</span>
					</div>
				</div>

			</div>
		
		</div>

	</div>



	<br><br>


	<div class="columns">

		<div class="column is-12">

			<button class="button is-primary is-medium " 
					type="submit"
					>
				Enregistrer mon nouveau mot de passe
			</button>

		</div>

	</div>

</form>


{# <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/form-display-other-structure-name.js') }}"></script> #}
