

{# 
<figure class="avatar">
	<img src="https://placehold.it/128x128">
</figure> 
#}


<form action="" method="POST" name="form">
					
	{{ form.hidden_tag() }}
	{# {{ form.csrf_token }} #}
	
	<div class="field">
		<div class="control has-icons-left">
			{{ form.userEmail(class='input is-large') }}
			<span class="icon is-small is-left">
				<i class="fas fa-envelope"></i>
			</span>
		</div>
	</div>

	<div class="field">
		<div class="control has-icons-left">
			{{ form.userPassword(class='input is-large') }}
			<span class="icon is-small is-left">
				<i class="fas fa-key"></i>
			</span>
		</div>
	</div>


	<div class="field">
		{{ form.userRememberMe }}
		{{ form.userRememberMe.label }}
	</div>


	
	<button class="button is-block is-primary is-large is-fullwidth" type="submit">
		Se connecter
	</button> 
	

	{# <div class="field ">
		<div class="control is-large has-text-centered is-fullwidth">
			<label 	for="postLogin" 
					class="button is-block is-primary is-large">
				<span>
					s'enregistrer
				</span>
			</label>
			<input 	id="postLogin"
					class="is-hidden" 
					type="submit" 
				>
			</input>
		</div>
	</div> 
	#}

</form>