
#lame-titre {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_illustration_lame1_France.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}

#lame-constat {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_illustration_lame_comment_reperer.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
}

#lame-video {
	background-image	: url({{url_for ("static", filename="illustrations/illustrations_landing_Landing_fond_video.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
}

#lame-dates {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Landing_applat_gris_dates_clés.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}