


<section id="user-test-vue" class="level ">

	<div id="">

		<div class="container content">

			{# WARNING : [[ ]] delimiters for Vue are customized to avoid confusion with jinja #}
			{# cf : https://stackoverflow.com/questions/41082626/how-to-render-by-vue-instead-of-jinja  #}


			<div class="columns">


				{# DIRECT AJAX QUERY HERE #}
				<div class="column has-text-centered">
					<button id="query-openscraper-button" 
							class="button is-medium is-primary">
						query openscraper!
					</button>
				</div>




				{# VUE FUNCTIONS HERE #}
				<div id="vue_test" class="column">


					<button id="vue-query-openscraper-button"
							class="button is-warning is-medium" 
							v-on:click="v_queryOpenScraper">
							v_queryOpenScraper
					</button>

					<br>

					{# reading vars #}
					<p>
						<span v-bind:title="mess_hover" >
							[[ message ]] - [[ q_message ]]
						</span>
					</p>

					<p>
					[[ q_message ]]
					</p>

					<input v-model="q_message">

					<hr>

					{# condition #}
					<p v-if="seen">
						<span >
							not seen here
						</span>
					</p>
					
					
					{# generate list by v-for #}
					<ul>
						<li v-for="todo in todos">
							[[ todo.text ]] 
						</li>
					</ul>


					{# generate list by component #}
					<ol>
						<todo-item
							v-for="item in todos"
							v-bind:todo="item"
							v-bind:key="item.id"
						>
						</todo-item>
					</ol>




					<input v-model="message">

					<p>[[ message ]]</p>

					<button v-on:click="reverseMessage">reverseMessage</button>

					{# <button v-on:click="reverseTodo">reverseTodo</button> #}



				</div>

			</div>

		</div>

	</div>

</section>
