{# count results and switch views #}
<level id="user-switch-top" class="level">


	<div class="container">

		<!-- Main container -->
		<nav class="level is-mobile">
			
			<!-- Left side -->
			<div  class="level-left">


				{# pagination btns #}
				<div v-if="d_count > 0" class="level-item">
					
					<div class="buttons has-addons is-centered">

						<a class="button" id="page_down" v-on:click="v_page_down" href="#user-results-top">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>					
						</a>
						<a class="button" id="page_up" v-on:click="v_page_up" href="#user-results-top">
							<span class="icon">
								<i class="fas fa-chevron-right"></i>
							</span>					
						</a>

					</div>

				</div>

				{# projects counter #}
				<div v-if="d_count > 0" class="level-item">

					<div id="notification-search-results" class="notification notification-results  is-white">
						
						<strong>
							{# <span class="has-text-primary is-8">
								[[ d_count ]]
							</span> #}
							<span class="has-text-primary is-8">
								[[ d_count_start ]] - [[ d_count_stop ]]
							</span>
						</strong> 

						<span>
							projets sur 
						</span>

						<strong>
							<span class="has-text-primary">
								[[ d_count_tot ]] 
							</span>
						</strong>
						
						<span>
							projets trouvés 
						</span>

					</div>

				</div>

				{# pagination #}
				{# <div class="level-item">

					<div id="notification-search-results-pages" class="notification notification-results  is-white">
						
						<span>
							page [[ d_page_n ]] / [[ d_page_max ]]
						</span>
						
					</div>
					
				</div> #}



				{# shuffle btn #}
				<div v-if="d_count > 0" class="level-item">
						
					<a 	class="button is-primary tooltip is-tooltip-right"
						data-tooltip="re-mélanger les résultats au hasard"
						v-on:click="reShuffleResults">
						<span class="icon">
							<i class="fas fa-lg fa-random"></i>
						</span>
					</a>
				
				</div>


			</div>

			<!-- Right side -->
			<div class="level-right">

				<div id="btns-switch-level" class="level-item is-fullwidth">
					{% include "elements/btns-results-views.html" %}
				</div>

			</div>

		</nav>


	</div>


</level>