@import './rem.scss';
@import './cis-colors.scss';
@import './cis-spacing.scss';
@import './cis-misc.scss';

html {
	font-size: $cis-base-font-size; // base for rem
	scroll-behavior: smooth;
}

[hidden]{
	display: none !important;
}

fieldset{
	border: 0;
}

main{
    margin-top: $cis-navbar-height;
}

button, .button{
	font-size: rem(14px);
	height: rem(45px)
}


p a.colored {
	color: $cis-primary;
	text-decoration: underline;
}

.cis-tabs{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	padding-top: $cis-spacing_4;
	margin-bottom: $cis-spacing_3;

	li{
		padding: 0 2em;

		&:first-child{
			padding-left: 0;
		}

		&:not(:last-child){
			border-right: 1px solid $cis-grey-light;
		}
		
		a{
			color: inherit;
		}
	}	
}

#navbar-main .navbar-item.selected a,
.cis-tabs li.selected a{
	font-weight: bold;
	padding-bottom: 0.3em;
	border-bottom: 1px solid $cis-primary;
}



.tagsinput {
	border    : none ;
	box-shadow: none ;
}

div.select {
	height: 100% !important ;
}

.tab {
	text-indent:40px
}

.navbar-dropdown {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

.avatar img {
	padding: 2px;
	border-radius : 50% ;
}

#btn-feedbacks {
	position: fixed;
	margin : 0px 25px ;
	bottom: -4px;
	right: 0px;
	z-index : 30;
	
	border: 1px solid ; 
	border-color : #d9d9d9 ;

}


.notification {
	padding : 0.75rem 2.5rem 0.75rem 1.5rem ;
}
.notification-results {
	padding : 0.25rem 1.5rem 0.5rem 1.0rem
}


footer{
	font-size: 1em;
}

footer h2{
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

footer h2 a {
	color: currentColor;
	text-decoration: underline;
}

footer .column h2:not(:first-of-type){
	margin-top: 0.5em;
}

footer ul{
	list-style: none;
}
