main{
    margin-top: 70px;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section,
main > nav{
    margin: 0;

    width: 80%;
}

main > section{
    padding-bottom: 3em;
}

main > nav{
    color: black;
    padding: 2em 0;
}

.cis-tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cis-tabs li{
    padding: 0 2em;
}
.cis-tabs li:not(:last-child){
    border-right: 1px solid #CBCBCB;
}

.cis-tabs li.selected a{
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #592d7b;
}

.cis-tabs li a{
    color: inherit;
}