
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "./rem.scss";
@import "./cis-colors.scss";
@import "./cis-misc.scss";

@import url(https://fonts.googleapis.com/css?family=Barlow:400,700&subset=latin-ext);


$primary		: $cis-primary; 
$primary-invert : $cis-primary-invert;

$light 			: $cis-grey-light;
$dark			: $cis-grey-dark;

$text           : $cis-text-color;
$body-size      : $cis-base-font-size;

$size-1         : rem(40px);
$size-2         : rem(28px);

$link			: $grey;
$link-hover 	: $cis-primary;

$family-sans-serif 	: "Barlow", sans-serif ;
$family-primary 	: $family-sans-serif ; 

$disabled-opacity: 0.7 ;
$button-disabled-opacity: $disabled-opacity ;

// Import the rest of Bulma at the end
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../node_modules/bulma-carousel/dist/css/bulma-carousel.sass";


// BULMA OVERRIDE

form .control{
    font-size: rem(14px);
}

.is-checkradio[type="checkbox"] + label{
    font-size: $cis-navbar-font-size
}

// Bulma default behaviour darkens the button, doesn't fit for CIS
.button.is-primary:hover{
    background-color:$primary-invert;
    color:$primary;
    border-color:$primary;
}
// Bulma default has a transparent background, causing the button
// to become invisible on a purple background
.button.is-primary.is-outlined{
    background-color:$primary-invert;
}
.button.is-primary.is-outlined:hover{
    border-color:$primary-invert;
}

