
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "./em.scss";
@import "./cis-colors.scss";

@import url(https://fonts.googleapis.com/css?family=Barlow:400,700&subset=latin-ext);


$primary		: $cis-primary; 
$primary-invert : $cis-primary-invert;

$light 			: $cis-grey-light;
$dark			: $cis-grey-dark;

$text           : $cis-text-color;
$body-size      : $cis-base-font-size;

$size-1         : em(40px);
$size-2         : em(28px);

$link			: $grey;
$link-hover 	: $cis-primary;

$family-sans-serif 	: "Barlow", sans-serif ;
$family-primary 	: $family-sans-serif ; 


// Import the rest of Bulma at the end
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";


// BULMA OVERRIDE

form .control{
    font-size: em(14px);
}