
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "./rem.scss";
@import "./cis-colors.scss";
@import "./cis-misc.scss";

@import url(https://fonts.googleapis.com/css?family=Barlow:400,700&subset=latin-ext);


$primary		: $cis-primary; 
$primary-invert : $cis-primary-invert;

$light 			: $cis-grey-light;
$dark			: $cis-grey-dark;

$text           : $cis-text-color;
$body-size      : $cis-base-font-size;

$size-1         : rem(40px);
$size-2         : rem(28px);

$link			: $grey;
$link-hover 	: $cis-primary;

$family-sans-serif 	: "Barlow", sans-serif ;
$family-primary 	: $family-sans-serif ; 


// Import the rest of Bulma at the end
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../node_modules/bulma-carousel/dist/css/bulma-carousel.sass";


// BULMA OVERRIDE

form .control{
    font-size: rem(14px);
}

.is-checkradio[type="checkbox"] + label{
    font-size: $cis-navbar-font-size
}