@import './rem.scss';
@import './cis-colors.scss';
@import './cis-misc.scss';

$INTER_SECTION_SPACING: 3em;

main#home{

    section h2{
        color: $cis-primary;
        text-align: center;
    }

    & > section.full-width h1,
    & > section.full-width h2{
        text-align: center;
        color: $cis-primary-invert;
        padding: 1em 0;
        max-width: 60%;
    }

    section#top{

        margin-bottom: $INTER_SECTION_SPACING;

        .background{
            // this image should be of color $cis-primary
            background-image: url(/static/illustrations/HP_section_1.png);
            background-size: cover;
            background-color: transparent;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            color: $cis-primary-invert;
    
            padding: 5em 0;

            h1{
                color: $cis-primary-invert;
                text-align: center;
                margin-bottom: 1em
            }
        }


        form{
            background-color: $cis-primary-invert;
            border-radius: 2px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            height: rem(85px);

            .column:first-child{
            
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                & > *{
                    border: 0;
                    border-bottom: 2px solid $cis-primary;
                    height: rem(50px);
                }
                
                .image-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: rem(36px);
                    }
                }

                input{
                    
                    width: 100%;

                    padding: 0 1em;
                    font-size: 1rem;
                    
                    border-radius: 0;
                    box-shadow: none;
        
                    &:focus{
                        border: 0;
                        border-bottom: 2px solid $cis-primary;
                
                        box-shadow: none;
                    }
                }
            }

            .column:last-child{

                display: flex;
                flex-direction: column;
                justify-content: center;
                
                button{
                    color: $cis-primary-invert;
                    background-color: $cis-primary;
        
                    font-size: rem(18px);
                    height: rem(50px);
                }
            }
        }
        
        

        h3{
            width: initial;
            padding: 1em 0;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            color: $cis-secundary;

            .counter{
                font-size: rem(60px);
                margin-right: 0.2em;
                font-weight: bold;
            }
        
            .text{
                max-width: 6em;
                line-height: 1.2;
            }
        }
    
    }
    

    section#participer{

        margin-bottom: $INTER_SECTION_SPACING;
    
        .background{
            background-image: url(/static/illustrations/HP_section_3.png);
            background-size: cover;
            background-color: transparent;
    
            padding: 6em 0;
    
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1{
            text-align: center;
            color: $cis-primary;
        }

        h2{
            color: $cis-primary;
            text-align: left;

            a{
                color: inherit;
                text-decoration: underline;
            }
        }
    
        .rejoindre{
            align-items: center;
            color: $cis-primary;

            a{
                color: $cis-primary-invert;
                background-color: $cis-primary;
                margin-top: 1em;
            }
        }
    }


    

    section#collectif{

        & > *{
            margin-bottom: 1.5em;
        }
    
        h1{
            text-align: center;
            color: $cis-primary;
        }

        p{
            text-align: center;
            max-width: 40em;
            margin: 0 auto;
            margin-bottom: 1.5em;
        }
    
        h3{
            color: $cis-primary;
            text-align: center;
            margin-bottom: 1em;
        }
    
        ul li{
            height: 6em;
        }
        ul li img{
            max-height: 100%;
        }
    
        ul.columns{
            justify-content: center;
            align-items: center;
        }
        ul.columns li.column{
            flex: initial;
        }

        a.button{
            margin-bottom: 1.5em;
            
            color: $cis-primary;
            border-color: $cis-primary;
        }
    } 


    section#témoignages {

        .background{
            background-image: url(/static/illustrations/HP_section_5.png);
            background-size: cover;
            background-color: transparent;
    
            padding-top: 6em;
        }

        h1{
            text-align: center;
            color: $cis-primary;
        }
    
        ul li img{
            height: 10em;
            margin-bottom: 1em;
        }
    
        .caroussel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button{
                border: 0;
                font-size: 2em;
                font-weight: bold;

                background-repeat: no-repeat;
                background-color: transparent;
                
                &:focus,
                &:active{
                    box-shadow: none;
                    border: 0;
                }

                &.previous{
                    background-image: url('/static/icons/icon_chevron2.svg');
                }
                &.next{
                    background-image: url('/static/icons/icon_chevron1.svg');
                }
            }
        }
    
        $CAROUSSEL_ELEMENT_WIDTH: 17em;

        .caroussel-container{
            width: $CAROUSSEL_ELEMENT_WIDTH * 3;
            overflow: hidden;

            ul.caroussel-content{
                white-space: nowrap;
                padding-bottom: 2em;

                li{
                    width: $CAROUSSEL_ELEMENT_WIDTH;
                    padding: 0 0.5em;
            
                    background-color: transparent;
                    white-space: normal;

                    vertical-align: top;
            
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;

                    .text{
                        font-size: 0.9em;
                        line-height: 1.2em;
                        background-color: white;
                        padding: 1em;
                        box-shadow: $cis-discrete-shadow;

                        h1{
                            color: $cis-primary;
                            font-weight: bold;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }



    section#contacter{
        width: 100%;
        background-color: $cis-primary;

        color: white !important;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2em 0;

        h2,
        a{
            color: inherit !important;
        }

        form{
            width: 60%;

            strong{
                color: inherit;
            }

            button[type="submit"]{
                border: 1px solid white;
            }
        }
    }
}
