@import './cis-colors.scss';

main#home{

    section h2{
        color: $cis-primary;
        text-align: center;
    }

    & > section.full-width h1,
    & > section.full-width h2{
        text-align: center;
        color: $cis-primary-invert;
        padding: 1em 0;
        max-width: 60%;
    }

    section#top{
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .background{
            // this image should be of color $cis-primary
            background-image: url(/static/illustrations/HP_section_1.png);
            background-size: cover;
            background-color: transparent;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            color: $cis-primary-invert;
    
            margin: 0;
            width: 100%;
    
            padding: 5em 0;

            h1{
                color: $cis-primary-invert;
                width: 60%;
                text-align: center;
                margin-bottom: 1em
            }
        }


        form{
            width: 70%;
            background-color: $cis-primary-invert;
        }
    
        input{
            border: 0;
            border-bottom: 2px solid $cis-primary;
            border-radius: 0;
            box-shadow: none;

            &:focus{
                border: 0;
                border-bottom: 2px solid $cis-primary;
        
                box-shadow: none;
            }
        }

        button{
            color: $cis-primary-invert;
            background-color: $cis-primary;
        }

        h3{
            width: initial;
            padding: 1em 0;
    
            display: flex;
            flex-direction: row;
            align-items: center;
    
            color: $cis-secundary;

            .counter{
                font-size: 5em;
                margin-right: 0.2em;
                font-weight: bold;
            }
        
            .text{
                max-width: 6em;
            }
        }
    
    }


    

    section#participer{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    
        .background{
            background-image: url(/static/illustrations/HP_section_3.png);
            background-size: cover;
            background-color: transparent;
    
            padding: 6em 0;
    
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .background > *{
            max-width: 60%;
            
        }
    
    
        & > p{
            padding: 0 20%;
            padding-bottom: 1em;
        }
    
        strong{
            color: $cis-primary;
            font-size: 1.7em;
    
            display: block;
        }
        strong a{
            color: inherit;
            text-decoration: underline;
        }
    
        .rejoindre{
            max-width: 90%;
            align-items: center;
            color: $cis-primary;
        }
    
        .rejoindre a{
            color: $cis-primary-invert;
            background-color: $cis-primary;
            margin-top: 1em;
        }
    }


    

    section#collectif{
        display: flex;
        flex-direction: column;
        align-items: center;

        & > *{
            margin-bottom: 1.5em;
        }
    
        p{
            text-align: center;
            padding: 0 20%;
        }
    
        h3{
            color: $cis-primary;
            text-align: center;
            margin-bottom: 1em;
        }
    
        ul li{
            height: 6em;
        }
        ul li img{
            max-height: 100%;
        }
    
        ul.columns{
            justify-content: center;
            align-items: center;
        }
        ul.columns li.column{
            flex: initial;
        }

        a.button{
            padding: 1.3em;
            color: $cis-primary;
            border-color: $cis-primary;
        }
    } 


    

    section#témoignages {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 0;

        .background{
            background-image: url(/static/illustrations/HP_section_5.png);
            background-size: cover;
            background-color: transparent;
    
            padding-top: 6em;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 100%;
        }
    
    
        ul li img{
            width: 10em;
            margin-bottom: 1em;
        }
    
        .caroussel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button{
                border: 0;
                font-size: 2em;
                padding: 1em;
                font-weight: bold;
                background-color: transparent;
                
                &:focus,
                &:active{
                    box-shadow: none;
                    border: 0;
                }
            }
            
        }
    
        .caroussel-container{
            width: calc(15em * 3);
            overflow: hidden;

            ul.caroussel-content{
                white-space: nowrap;
                padding-bottom: 2em;

                li{
                    width: 15em;
                    padding: 0 0.5em;
            
                    background-color: transparent;
                    white-space: normal;
                    vertical-align: top;
            
            
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;

                    .text{
                        font-size: 0.9em;
                        line-height: 1.2em;
                        background-color: white;
                        padding: 1em;
                        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.16);

                        h1{
                            color: $cis-primary;
                            font-weight: bold;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }



    section#contacter{
        width: 100%;
        background-color: $cis-primary;

        color: white !important;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2em 0;

        h2,
        a{
            color: inherit !important;
        }

        form{
            width: 60%;

            strong{
                color: inherit;
            }
        }
    }
}
