main#le-collectif{
    background-color: white;
    
    & > nav,
    & > section{
        padding-left: 2em;
        padding-right: 2em;
    }

    section#collectif{
        
    }
    section#collectif .présentation{
        display: flex; 
        flex-direction: row;
        align-items: center;

        margin-bottom: 3em;
    }
    section#collectif .présentation h2{
        margin: 1em 0;
    }
    section#collectif .présentation > *{
        flex: 1;
    }

    section#collectif .présentation > :first-child li{
        color: #592d7b;
        font-weight: bold;
    }
    section#collectif .présentation > :first-child li:before{
        content: "-";
        
        padding-right: 5px;
    }

    section#collectif .présentation > :first-child li a{
        color: #592d7b;
        font-weight: normal;

        white-space: nowrap;

        border-bottom: 1px solid #592d7b;
    }



    section#collectif .présentation > :last-child{
        height: 20em;

        position: relative;
        left: 5em;

        background-image: url('/static/photos/180620_CollectifCIS_photos (2).jpg');
        background-size: cover;
        background-position: bottom;

    }
    section#collectif .présentation > :last-child ul{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0, 0.5), rgba(0,0,0, 0));
        
        display: flex;
        justify-content: flex-start;

        color: white;
    }

    section#collectif .présentation > :last-child ul li{
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;

        margin-right: 1em;
        padding: 1em;
        
        width: 6em;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#collectif .présentation > :last-child ul li .nb{
        font-size: 2em;
    }

    section#collectif .button{
        height: unset;
        padding: 1em 2em;
        color: #592d7b;

        border: 1px solid #592d7b;
    }

    section#collectif .rejoindre{
        background-color: #592d7b;
        color: white;
        padding: 2em;
    }

    section#collectif .rejoindre h2{
        color: inherit;
    }

    section#equipe-op{

    }
    section#equipe-op .equipe li{
        width: 17em;
        padding: 1em 3em;

        display: inline-flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    section#equipe-op .equipe li img{
        border-radius: 50%;
        margin-bottom: 1em;
    }

}
