@import './rem.scss';
@import './cis-colors.scss';
@import './cis-spacing.scss';

main#projet{

    section h2.subtitle{
        font-size: rem(14px);
    }
    section h2.subtitle + h1,
    section#communs h1{
        line-height: 1.3em;
        font-weight: bold;

        margin-bottom: $cis-spacing_1;
    }

    .cis-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        & > *{
            padding: 1em;
            flex: 1;
        }
    
        & > * img{
            height: 7em;
        }

        .cis-card{
            padding: 1em;
    
            img{
                height: 7em;
            }
        }
    }


    section#visibilité{

	    margin-bottom: $cis-spacing_3;

        .columns{
            align-items: center;
        }

        & > .column:first-child{
            flex: 1;
        }
        & > .column:last-child{
            flex: 1;
        }
    
    
        .caroussel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    
        .caroussel button{
            border: 0;
            font-size: 2em;
            padding: 1em;
            font-weight: bold;
            background-color: transparent;
        }
    
    
        .caroussel button:focus,
        .caroussel button:active{
            box-shadow: none;
            border: 0;
        }
    
        .caroussel-container ul.caroussel-content li{
            width: 10em;
            padding: 0 0.5em;
    
            margin-right: 1em;
    
            background-color: $cis-grey-background;
            white-space: normal;
            vertical-align: top;
    
    
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            .text{
                font-size: 0.9em;
                line-height: 1.2em;
                padding: 1em;
            }
        
            .text h1{
                color: $cis-primary;
                font-weight: bold;
                margin-bottom: 1em;
            }
        }
    
    }

    

    section#collectif{
        width: 100%;
        height: 18em;
        padding: 1em 3em;
	    margin-bottom: $cis-spacing_3;
        
        background-color: $cis-primary;
        color: $cis-primary-invert;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        img{
            height: 150%;
        }
    
        h2{
            color: $cis-primary-invert;
            max-width: 26em;
            padding: 1em;
        }
    }




    section#nous{
        
	    margin-bottom: $cis-spacing_3;
    }


    section#definition{
        margin-bottom: $cis-spacing_3;
        
        .column {
            padding: 2em 1em;
            background-color: $cis-primary;
    
            color: $cis-primary-invert;
        }
    
        h2{
            color: inherit;
        }
    }



    section#concrètement {
        margin-bottom: $cis-spacing_3;
        
        .cis-cards {
            .cis-card {
                background-color: $cis-grey-background;
            }
        
            p {
                padding-bottom: 2em;
            }
        
            a {
                color: $cis-primary;
                border: 1px solid $cis-primary;
                background-color: $cis-primary-invert;
            }
        }
    }


    section#communs{

        margin-bottom: $cis-spacing_3;

        .subtitle{
            margin-bottom: 0.5em;
        }

        .charte{
            color: $cis-primary-invert;
            background-color: $cis-primary;
    
            padding: 1em;

            h1{
                color: inherit;
            }
        
            a{
                display: inline-block;
                margin-top: 1em;
        
                color: white;
                border-bottom: 1px solid currentColor;
            }
        }
    }
}
