
@import './custom-bulma.scss';

@import './commons.scss';

@import './navbar.scss';

@import './home.scss';
@import './le-projet.scss'; 
@import './outils.scss'; 
@import './parlent-de-nous.scss'; 
@import './recompenses.scss'; 
@import './le-collectif.scss';
@import './qui-fait-quoi.scss';
@import './nous-rejoindre.scss'; 
@import './contact.scss';
@import './http-errors.scss';

@import './spa.scss'; 

