@import './rem.scss';
@import './cis-colors.scss';
@import './cis-misc.scss';


nav{
	font-size: $cis-navbar-font-size;
}

#navbar-main .navbar-item{
	padding-left: 1em;
	padding-right: 1em;

	a{
		color: $cis-text-color;
		padding-bottom: 0.3em;
	}
}


#navbar-top {
	height: $cis-navbar-height;
	z-index:10;
}


.skip-navbar {
	padding-top: $cis-navbar-height;
}

.skip-navbar-search {
	padding-top : 135px ;
}

.navbar {
	border-bottom: 1px solid;
	border-bottom-color: $cis-grey-light;
}

#navbar-logo {
	max-height:45px ! important ;
}

.navbar-item-filter {
	padding : 0.5rem ;
}

.input-navbar{
	border-top	: 0px transparent;
	border-right: 0px transparent;
	border-left	: 0px transparent;	
	box-shadow	: none;
}
