@import './cis-colors.scss';


.join-us{

    section > .colored {
        color: $cis-primary;
        text-decoration: underline;
    }

    section > :not(section){
        width: 80%;
        margin: 0 auto;
    }

    .structure-expand,
    .project-carrier-expand{
        width: 100%;
    }

    section > form{
        width: 100%;
        background-color: $cis-grey-background;
    }
    .project-carrier-expand form > *{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    h1{
        margin-top: 5em;
        text-align: center;
    }


    .buttons {
        justify-content: center;  /* Bulma override */
        align-items: stretch;

        button{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: auto; /* Bulma override */
            white-space: initial; /* Bulma override */
    
            // max-width: 30%;
            position: relative;

            &.with-image{
                $img-position: 3em;
                padding-top: $img-position;
                margin-top: $img-position;
            }
        
            &.selected{
                border-color: $cis-primary;
            }

            img{
                position: absolute;
                top: 0;
                transform: translateY(-50%);
                width: 5em;
        
                background: $cis-grey-background;
                border-radius: 50%;
            }
        
            h2{
                color: $cis-primary;
            }
        }
    }

    .structure-expand {
        .why{
            color: $cis-primary;
            font-weight: bold;
        }

        ul.reasons{
            text-align: center;

            li{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .join-walkthrough{
        background-color: $cis-grey-background;

        h2{
            color: $cis-primary;
        }
    }

}