main#outils{
    & > nav,
    & > section{
        padding-left: 2em;
        padding-right: 2em;
    }

    section#open-source{
        
    }
    section#open-source h1{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    section#open-source h1,
    section#open-source p{
        max-width: 40em;
    }


    section#architecture{
        width: 100%;
        padding: 0;
        border: 0;

        background-color: #F6F6F6;
    }

    section#architecture > *{
        width: 80%;
        margin: 0 auto;
    }

    section#architecture ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 1em 2em;
    }

    section#architecture ul li{
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section#architecture ul li p{
        width: 80%;
    }
    section#architecture ul li strong{
        color: #592d7b;
        font-weight: bold;
    }



    .software-show{
        display: flex;

        padding-top: 5em;
    }

    .software-show:nth-of-type(odd){
        flex-direction: row;
    }
    .software-show:nth-of-type(even){
        flex-direction: row-reverse;
    }


    .software-show > *{
        flex: 1;
    }

    .software-show img{
        max-width: 120%;
    }


    .software-show:nth-of-type(odd) img{
        transform: translate(-20%, -20%);
    }
    .software-show:nth-of-type(even) img{
        transform: translate(20%, -20%);
    }


    .software-show h1{
        color: #592d7b;
        font-weight: bold;
        font-size: 1.7em;
    }
    .software-show h2{
        font-weight: bold;

        font-size: 1.4em;
    }
    .software-show h3{
        color: #592d7b;
    }

    .software-show ul{
        margin-bottom: 2em;
    }


    .software-show ul li:before{
        content: "-";
        
        padding-right: 5px;
    }


    .software-show a{
        padding: 1em 2em;
        margin-right: 1em;

        border-radius: 3px;
    }

    .software-show a.test{
        color: white;
        background-color: #592d7b;
        border: 1px solid #592d7b;
    }
    .software-show a.github{
        color: #592d7b;
        background-color: white;
        border: 1px solid #592d7b;
    }

}
