@import './cis-colors.scss';
@import './cis-spacing.scss';

main#outils{

    section#open-source{
        margin-bottom: $cis-spacing_3;
    
        h1,
        p{
            max-width: 40em;
        }
        
    }


    section#architecture{
        width: 100%;
        padding: 0;
        border: 0;

	    margin-bottom: $cis-spacing_4;

        background-color: $cis-grey-background;

        & > *{
            width: 80%;
            margin: 0 auto;
        }
    
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 1em 2em;

            li{
                flex: 1;
        
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    width: 80%;
                }
                strong{
                    color: $cis-primary;
                    font-weight: bold;
                }
            }
        }
    }

    
    .software-show{
        display: flex;


	    margin: $cis-spacing_4 inherit;

        & > *{
            flex: 1;
        }

        &:nth-of-type(odd){
            flex-direction: row;

            img{
                transform: translate(-20%, -20%);
            }
        }
        &:nth-of-type(even){
            flex-direction: row-reverse;

            img{
                transform: translate(10%, -20%);
            }
        }
    
        img{
            max-width: 120%;
        }
    
        h1{
            color: $cis-primary;
        }
        h2{
            
        }
        h3{
            color: $cis-primary;
        }
    
        ul{
            margin-bottom: 2em;

            li::before{
                content: "-";
                
                padding-right: 5px;
            }
        }
    
    
        a{
            padding: 1em 2em;
            margin-right: 1em;
    
            border-radius: 3px;
        }
    
        a.test{
            color: $cis-primary-invert;
            background-color: $cis-primary;
            border: 1px solid $cis-primary;
        }
        a.github{
            color: $cis-primary;
            background-color: $cis-primary-invert;
            border: 1px solid $cis-primary;
        }
    }
}
