@import './cis-colors.scss';

section#presse {
    ul {
        padding: 1em;

        li{
            display: inline-block;
            background-color: $cis-grey-background;
            
            width: 17em;
    
            margin-right: 2em;    
            
            vertical-align: top;
        }
    
        li > :first-child{
            background-color: white;
            height: 5em;    
            padding: 0.5em;
            
            text-align: center;

            img{
                height: 100%;
            }
        }
    
        li > :nth-child(2){
            padding: 1em;

            h1{
                font-size: 1.1em;
                font-weight: bold;
                padding: 0.5em 0;
            }
        }
    
        li a{
            color: $cis-primary;
            border-bottom: 1px solid currentColor;
    
            display: inline-block;
            padding: 0.5em 0;
        }
    }
}
