section#presse ul {
    padding: 1em;
}

section#presse ul li{
    display: inline-block;
    background-color: #f6f6f6;
    
    width: 17em;

    margin-right: 2em;    
    
    vertical-align: top;
}

section#presse ul li > :first-child{
    background-color: white;
    height: 5em;    
    padding: 0.5em;
    
    text-align: center;
}

section#presse ul li > :first-child img{
    height: 100%;
}


section#presse ul li > :nth-child(2){
    padding: 1em;
}

section#presse ul li > :nth-child(2) h1{
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em 0;
}

section#presse ul li a{
    color: #532A7B;
    border-bottom: 1px solid currentColor;

    display: inline-block;
    padding: 0.5em 0;
}
