@import './rem.scss';

main#qui-fait-quoi{
    background-color: $cis-grey-background;

    .input[type="search"]{
        margin-bottom: 1em;
    }

    .choices{
        max-width: 45em;

        label{
            width: 15em;
            vertical-align: top;
        }
        input[type="checkbox"]{
            margin-right: 1em;
        }
    }

    ul.members{
        text-align: left;
        margin-top: 2em;  

        & > li{
            display: inline-block;
            
            $mention-spacing: 1%;

            margin: $mention-spacing;
            
            width: 100%;
    
            @media (min-width: 40em){
                width: 100%/2 - 2*$mention-spacing;
            }   

            vertical-align: top;
    
            background-color: white;
    
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.04);

            & > *{
                padding: 0 1em;
            }
            & > :first-child{
                padding-top: 1em;
            }
            & > :last-child{
                padding-bottom: 1em;
            }
        
        
            header{
                padding-bottom: 1em;

                & > :first-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                & > :first-child img{
                    object-fit: contain;
                    object-position: center;
                    
                    max-height: 20vh;
                    width: 50%;
                    margin-right: 1em;
                }
            
                ul.activities {
                    flex:1;
                    
                    li{
                        font-size: rem(12px);
                        background-color: #767676;
                        color: white;
                        padding: 0.2em 0.5em;
                        margin-right: 0.5em;
                
                        display: inline-block;
                    }
                }
            
                h1{
                    display: inline-block;
                    margin-right: 1em;
            
                    font-size: 1.1em;
                    font-weight: bold;
                }
                
                .scale{
                    font-size: rem(12px);
                    white-space: nowrap;
                    color: rgba(61, 58, 57, 1);
                }
            }
        
        
            footer{
                background-color: $cis-grey-background;
                position: relative;
        
                font-size: 0.8em;
        
                margin-top: 3em;
                padding-top: 1em;
        
                display: flex;
                justify-content: space-between;
                align-items: center;

                img{
                    position: absolute;
                    
                    width: 5em;
                    height: 5em;
            
                    object-fit: cover;
                    object-position: center;
                    
                    left: 2em;
                    top: -2em;
            
                    border-radius: 50%;
                }
            
                .person{
                    margin-left: 8em;
                }
            
                .count{
                    color: $cis-primary;
                    max-width: 9em;
            
                    display: flex;
                    align-items: center;

                    .nb{
                        font-size: 3em;
                        
                        margin-right: 0.1em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
