.award{
    display: flex;
    align-items: center;

    margin-bottom: $cis-spacing_4;

    &:nth-child(odd){
        flex-direction: row;

        .description{
            padding-right: 0;
        }
    }
    
    &:nth-child(even){
        flex-direction: row-reverse;

        .description{
            padding-left: 0;
        }
    }
    
    & > :first-child{
        flex: 1;
    }

    & > .description{
        flex: 2;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        padding: 1em;

        img {
            max-height: 4em;
        }
    }
}
