
<div class="modal" id="modal_charte">

	<div class="modal-background"></div>

	<div class="modal-card">
	
		<header class="modal-card-head">
			<p class="modal-card-title">Charte du projet</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<section class="modal-card-body">

			<div class="content">
				
				<h4>Charte</h4>

				<hr>
				<p>
					test
				</p>
				
			</div>


	  	</section>


		{# <footer class="modal-card-foot">
			<button class="button is-success">Save changes</button>
			<button class="button">Cancel</button>
		</footer> #}

	</div>
</div>


