
<div class="modal" id="modal_charte">

	<div class="modal-background"></div>

	<div class="modal-card">
	
		<header class="modal-card-head">
			<p class="modal-card-title">Charte du projet</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<section class="modal-card-body">

			<div class="content has-text-centered">
					
				
				<a class="button is-primary is-outlined" href="/download/pdf/Charte_carrefourdesinnovationssociales_VF_V2" >
					Téléchargez la charte / PDF 
				</a>

				<br>
			
			</div>


	  	</section>


		{# <footer class="modal-card-foot">
			<button class="button is-success">Save changes</button>
			<button class="button">Cancel</button>
		</footer> #}

	</div>
</div>


