
<div class="modal" id="modal_who">

	<div class="modal-background"></div>

	<div class="modal-card">
	
		<header class="modal-card-head">
			<p class="modal-card-title">Qui sommes-nous ?</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<section class="modal-card-body">

			<div class="content">
				

				<p>
					Le carrefour des innovations sociales est un collectif atypique composé d’associations, 
					têtes de réseaux, accompagnateurs, institutions, fondations, think-tanks, 
					médias et acteurs de la recherche … mus par une volonté partagée de renforcer la 
					connaissance et le potentiel transformateur des innovations sociales
				</p>


					
				<p>
					Une équipe opérationnelle conduit le projet au quotidien. 
					Elle instruit, met en oeuvre les actions décidées par le collectif et 
					le comité de pilotage et suit leur état d’avancement.
				</p>

				<p>
					<ul>
						<li>
							Bastien Engelbach, coordonnateur des programmes à la Fonda et Bénédicte Pachod, chargée de projets au Commissariat général à l’égalité des territoires, coordonnent le projet 
						</li>
						<li>
							Julien Paris, développeur web et Elise Lalique, designer UX/UI sont des entrepreneurs d’intérêt général dédiés à la conception et au développement du site du Carrefour des innovations sociales de janvier à novembre 2018.
						</li>
						<li>
							Denis Sabardine, animateur et développeur des réseaux GNIAC et RESET réalise de la veille partenariale et stratégique et apporte ses conseils d’expert en innovation sociale pour le projet.
						</li>
						<li>
							Yannick Blanc, président de l’Association de préfiguration du Carrefour des innovations sociales (APCIS) et Emmanuel Dupont, son vice-président, assurent les relations institutionnelles.
						</li>
					</ul>
				</p>
				
				<p>
					Un comité de pilotage guide et coordonne le développement du projet. <br>
					Le Commissariat général à l’égalité des territoires, la Fonda, l’AVISE, la Fondation Cognacq-Jay, 
					le Labo de l’ESS, l’APRILES et le GNIAC le composent. <br>
					Ce projet est accéléré par le soutien d’Etalab, plus précisément du programme Entrepreneur d’intérêt général, et de la Fédération nationale des Caisses d’Epargne, merci à eux !
				</p>
				<p>
					Près de 70 partenaires forment le collectif du Carrefour des innovations sociales.<br>
					Parmi eux des associations et accompagnateurs opérationnels tels l’AEIDL, Ashoka, Bleu Blanc Zèbre, Brie’Nov, BRUDED, Coorace, EnSSemble, Génération 2 Conseil, Prima Terra, SIILAB, Synergies, Territoria, Ticket for change ou encore Villes Internet.
				</p>
				<p>
					Des institutions et têtes de réseaux se font confiance, à l’instar de l’ADEME, de l’Agence du Numérique, d’ANIMAFAC, de l’APIE, de l’Association des Maires Ruraux de France, de la Confédération générale des SCOP, de la Chambre régionale d'économie sociale et solidaire des Pays de la Loire, de la Direction générale de la cohésion sociale, de la Délégation interministérielle pour l’hébergement et l’accès au logement, de la DRJCS Hauts-de-France, de la Fédération française des GEIQ, du Fonds d'expérimentation pour la jeunesse, du Réseau Rural, du RTES, de la ville de Sceaux ou de l’UNADEL. 
				</p>
				<p>
					Des think-tanks et acteurs de la recherche se penchent sur le projet, comme par exemple Citego ou l’Ecole de Paris du Management.
				</p>
				<p>
					Enfin, des médias de solution se joignent à nous, tel La Part du Colibri ou Sparknews.
				</p>

	

				<br>
				
			</div>


	  	</section>


		{# <footer class="modal-card-foot">
			<button class="button is-success">Save changes</button>
			<button class="button">Cancel</button>
		</footer> #}


	</div>
</div>


