
<div class="modal" id="modal_feedback_tester">

	<div class="modal-background"></div>

	<div class="modal-card iframe-container">
	
		<header class="modal-card-head is-primary">
			<p class="modal-card-title">Votre avis</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<section class="modal-card-body" id="iframe_card_body">

			<div class="content has-text-centered iframe-container">
					
				{# <iframe src="https://framaforms.org/vos-retours-utilisateurs-1523610580"></iframe>  #}
				<iframe src="https://framaforms.org/que-pensez-vous-du-site-1523610580"></iframe> 

			</div>


		</section>


	</div>
</div>


