

<style>

#user-index-title-1 {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Illustration_reperer.png" ) }} ) ;
	background-position : left center;
	background-repeat	: no-repeat ;
	background-size		: auto 70%;
	background-max-height : 400 px;
}

#user-index-title-2 {
	background-image	: url({{url_for ("static", filename="illustrations/illustrations_landing_Moteur_recherche_lame1.png" ) }} ) ;
	background-position : center center;
	background-repeat	: no-repeat ;
	background-size		: cover;
	background-max-height : 600 px;
}

</style>


{# 1st section index-user #}
<section id="user-index-title-2" class="hero is-primary skip-navbar ">

	<div class="hero-body">

		<div class="container content">

			<div class="columns">

				<div class="column is-half is-offset-3 has-text-centered">


					<br><br>

					{# { % include "elements/flash-messages.html"%} #}

					<h1 class="has-text-white">
						<strong>
						+ 5000 
						</strong>
						<small>projets référencés</small>
						
					</h1>


					<h1 class="has-text-white" >
						<strong>
							Trouvez le projet qui vous intéresse
						</strong>
					</h1>
					

					<br>



					<a class="button is-white is-medium is-outlined tooltip is-tooltip-danger"
						data-tooltip="fonctionnalité en construction" 
						href="/search" >
						Faites une recherche
					</a>


					<p>
						<br><br>&nbsp;
					</p> 



				</div>

			</div>

		</div>

	</div>

</section>





