

<style>

#user-index-title {
	background-image	: url({{url_for ("static", filename="illustrations/landing_page_export_Illustration_reperer.png" ) }} ) ;
	background-position : left center;
	background-repeat	: no-repeat ;
	background-size		: auto 70%;
	background-max-height : 400 px;
}

</style>


{# 1st section index-user #}
<section id="user-index-title" class="hero is-primary skip-navbar ">

	<div class="hero-body">

		<div class="container content">

			<div class="columns">

				<div class="column is-half is-offset-3 has-text-centered">


					<br>

					<h1 class="has-text-white">
						<strong>
						+ 5000 
						</strong>
						<small>projets référencés</small>
						
					</h1>


					<h1 class="has-text-white">
						<strong>
						Trouvez le projet qui vous intéresse
						</strong>
					</h1>
					

					<br>



					<a class="button is-white is-outlined" href="/" >
						Faites une recherche
					</a>


					<p>
						&nbsp;
					</p> 



				</div>

			</div>

		</div>

	</div>

</section>





