

<section id="user-project" class="hero skip-navbar ">

	{# <div 	id="user-home" 
			class="hero-body">

		<br><br>

		<div class="container content">

			<div class="columns is-centered">

				<div class="column is-5 has-text-centered">

					{% include "elements/flash-messages.html"%}

					

					<br>

				</div>

			</div>

		</div>
	
	</div> #}

	{% include "landing_slices/landing-lame-12-presentation.html"%}

	{% include "landing_slices/landing-lame-13-objectives.html"%}

	{% include "landing_slices/landing-lame-07-verbatims-bis.html"%}

	{% include "landing_slices/landing-lame-14-values.html"%}

	{% include "landing_slices/landing-lame-15-governance.html"%}

	{% include "landing_slices/landing-lame-09-dates.html"%}


	<br>
	
</section>