

{# <section class="hero is-grey">

	<div class="hero-foot">
		
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">

				<ul>
				<li class="is-active"><a>Overview</a></li>
				<li><a>Modifiers</a></li>
				<li><a>Grid</a></li>
				<li><a>Elements</a></li>
				<li><a>Components</a></li>
				<li><a>Layout</a></li>
				</ul>

			</div>
		</nav>
		
	</div>

</section> #}


<footer class="footer">

	<div class="container">
		
		<div class="content is-small">

			<div class="columns">


				<div class="column is-3 is-offset-3">

					<h3 class="has-text-primary"> Le Carrefour des innovations sociales </h3>
					<p> Qui sommes-nous ?  </p>
					<p> La charte du collectif </p>
					<p> Mentions légales </p>

				</div>



				<div class="column is-3">

					<h3 class="has-text-primary">Contactez-nous</h3>
					<p>contact@carrefourdesinnovationssociales.fr </p>

					<h3 class="has-text-primary"> Suivez-nous </h3>
					<span class="icon">
						<i class="fab fa-lg fa-facebook"></i>
					</span>
					<span class="icon has-text-primary">
						<i class="fab fa-lg fa-twitter"></i>
					</span>

				</div>





			</div>
		
		</div>
	
	</div>
	
</footer>
