

{# <section class="hero is-grey">

	<div class="hero-foot">
		
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">

				<ul>
					<li class="is-active"><a>Overview</a></li>
					<li><a>Modifiers</a></li>
					<li><a>Grid</a></li>
					<li><a>Elements</a></li>
					<li><a>Components</a></li>
					<li><a>Layout</a></li>
				</ul>

			</div>
		</nav>
		
	</div>

</section> #}


<footer class="footer">

	<div class="container">
		
		<div class="content is-small">

			<div class="columns">


				<div class="column is-4 is-offset-2">

					<h3>
						<strong class="has-text-primary"> Le Carrefour des innovations sociales </strong>
					</h3>
					
					<br>
					
					<p>
						<a class="modal-button" data-target="modal_who" aria-haspopup="true"> 
							Qui sommes-nous ?  
						</a>
					</p>
					
					<p>
						<a class="modal-button" data-target="modal_charte" aria-haspopup="true"> 
							La charte du collectif 
						</a>
					</p>
					
					<p>
						<a class="modal-button" data-target="modal_legal" aria-haspopup="true"> 
							Mentions légales 
						</a>
					</p>
					
					<p>
						<a href="https://github.com/entrepreneur-interet-general/CIS-front" target="_blank"> 
							Code source 
						</a>
					</p>

				</div>



				<div class="column is-4">

					<h3>
						<strong class="has-text-primary">Contactez-nous</strong>
					</h3>

					<br>

					<p>
						Pour toute question, contactez-nous sur : 
						<a href="mailto:carrefour.innoso@gmail.com">carrefour.innoso@gmail.com </a>
					</p>

					<h3>
						<strong class="has-text-primary"> Suivez-nous </strong>
					</h3>
					
					<div class="content is-medium">
						
						<a class="button is-primary" href="https://www.facebook.com/TouteslesInnoSo/" >
							<span class="icon">
								<i class="fab fa-lg fa-facebook"></i>
							</span>
						</a>
						
						&nbsp;&nbsp;&nbsp;

						<a class="button is-primary" href="https://twitter.com/touteslesinnoso" >
							<span class="icon ">
								<i class="fab fa-lg fa-twitter"></i>
							</span>
						</a>
						
					</div>

				</div>





			</div>
		
		</div>
	
	</div>
	
</footer>



{% include "modals/modal-legal-mentions.html" %}
{% include "modals/modal-who-are-we.html" %}
{% include "modals/modal-charte.html" %}