


{% include "elements/btn-feedbacks-form-iframe.html" %}



{% if site_section == "home" %}


	{% include "user_slices/user-slice-index-title.html" %}

	{# { % include "components/vue-galery-projects.html"%} #}

	<!-- TESTS VUE -->	
	{# <br>	 #}
	{# {% include "components/vue-test-tutorial.html" %} #}



{% elif site_section == "search" %}


	<section id="user-search-section" class="section skip-navbar-search ">
		

		{% include "elements/flash-messages.html"%}


		<!-- TESTS VUE -->		
		{# {% include "components/vue-test-tutorial.html" %} #}
		

		{% include "user_slices/user-slice-results-projects.html" %}


	</section>




{% endif %}