


{% include "elements/btn-feedbacks-form-iframe.html" %}



{% if site_section == "home" %}


	{% include "user_slices/user-slice-index-title.html" %}

	{# { % include "user_slices/user-slice-index-galery-projects.html"%} #}




{% elif site_section == "search" %}


	<section id="user-search-section" class="section skip-navbar-search ">
	{# <section class="hero is-grey skip-navbar-search "> #}
		
		{% include "elements/flash-messages.html"%}

		{% include "user_slices/user-slice-tags.html" %}

		{% include "user_slices/user-slice-results-count-switch-views.html" %}


		<!-- TESTS VUE -->
		<hr>
		
		{% include "elements/test-vue.html" %}
		
		<hr>


		{% include "user_slices/user-slice-results-projects.html" %}

	
	</section>

{% endif %}