
{% extends "main.html" %}

{% block content %}

		<section class="hero is-white is-fullheight">
			
			<!-- Hero head: will stick at the top -->
			<div class="hero-head">
				
				<header class="navbar">
					

					{# { % include "navbar.html" %} #}

					<div class="container">
						<div class="navbar-brand">
							<a class="navbar-item">
								{# <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> #}
								Carrefour des innovations sociales
							</a>
							<span class="navbar-burger burger" data-target="navbarMenuHeroC">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</div>

						<div id="navbarMenuHeroC" class="navbar-menu">
							
							<div class="navbar-end">
								
								<span class="navbar-item">

									<div class="field is-grouped">

										<p class="control">
											<a class="button is-text">
												<span class="icon is-primary">
												<i class="fab fa-twitter"></i>
												</span>
											</a>
										</p>

										<p class="control">
											<a class="button is-text">
												<span class="icon is-primary">
												<i class="fab fa-facebook"></i>
												</span>
											</a>
										</p>


										<p class="control">
											<a class="button is-primary is-outlined">
												<span>connectez-vous</span>
											</a>
										</p>

									</div>

								</span>


							</div>
						</div>
					</div>
				</header>

			</div>


			{# { % include "landing.html" %} #}

			<!-- Hero content: will be in the middle -->
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Le carrefour des innovations sociales
					</h1>
					<h2 class="subtitle">
						C'est cool
					</h2>
				</div>
			</div>


		</section>





		{# section constat #}
		<section class="hero is-primary">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						constat
					</h1>
					<h2 class="subtitle">
						le constat
					</h2>
				</div>
			</div>
		</section>


		{# section prop valeur #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						proposition de valeur
					</h1>
					<h2 class="subtitle">
						des petits dessins
					</h2>
				</div>
			</div>
		</section>


		{# section video #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						video
					</h1>
					<h2 class="subtitle">
						wahhhh
					</h2>
				</div>
			</div>
		</section>


		{# section partenaires #}
		<section class="hero is-light">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						partenaires
					</h1>
					<h2 class="subtitle">
						yen a beaucoup....
					</h2>
				</div>
			</div>
		</section>



		{# section rejoignez-nous #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						rejoigney-nous
					</h1>
					<h2 class="subtitle">
						allez viens boire un ptit coup à la maison....
					</h2>
				</div>
			</div>
		</section>


		{# section verbatims #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						verbatims
					</h1>
					<h2 class="subtitle">
						blabla
					</h2>
				</div>
			</div>
		</section>



		{# section charte #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						charte
					</h1>
					<h2 class="subtitle">
						lorem ipsum quoi
					</h2>
				</div>
			</div>
		</section>


		{# section dates clés #}
		<section class="hero is-white">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						dates clés
					</h1>
					<h2 class="subtitle">
						dates
					</h2>
				</div>
			</div>
		</section>


		{# section formulaire #}
		<section class="hero is-primary">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						formulaire
					</h1>
					<h2 class="subtitle">
						allez vieeeeeens
					</h2>
				</div>
			</div>
		</section>






{% endblock %}