{% extends "layout.html" %}

{% block content %}


<main id="le-collectif">
    <nav class="container">
        <ul class="cis-tabs">
            <li class="selected"><a href="/qui-sommes-nous">Le collectif</a>
            <li><a href="/qui-sommes-nous/qui-fait-quoi">Qui fait quoi ?</a>
        </ul>
    </nav>

    <section id="collectif" class="container">
        <div class="présentation">
            <div>
                <h1 class="title is-2">Le carrefour des innovations sociales est porté par un collectif</h1>
                <p>Ce projet est à l’initiative de plusieurs têtes de réseaux, accompagnateurs, observateurs et chercheurs. Ils ont l’envie de partager la connaissance des solutions de terrain et les rendre accessibles. L’ambition est de renforcer la connaissance et le potentiel transformateur des innovations sociales pour cultiver une société meilleure. L’association de préfiguration du Carrefour des innovations sociales a été créee fin 2017.

                <h2 class="title is-4">Le collectif, comment ça marche ?</h2>
                <ul>
                    <li>Il réunit tous les membres adhérant à la charte <a target="_blank" href="/static/files/Charte_carrefourdesinnovationssociales_VF_V2.pdf">Téléchargez la charte</a>
                    <li>Il se réunit deux fois par an
                    <li>Il fixe les orientations et décisions stratégiques
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <span class="nb">1</span>
                        <span class="text">Collectif ouvert</span>
                    <li>
                        <span class="nb">50</span>
                        <span class="text">Membres</span>
                    <li>
                        <span class="nb">2</span>
                        <span class="text">Réunions annuelles</span>
                </ul>
            </div>
        </div>

        <div class="columns">
            <div class="column is-offset-1 is-3">
                <a class="button"
                    href="/qui-sommes-nous/qui-fait-quoi"
                >
                Découvrez le portrait des membres
                </a>
            </div>
        </div>

        <div class="columns">
            <div class="column is-offset-1 is-10">
                <div class="rejoindre">
                    <h2 class="title is-2">Vous êtes une structure de l’innovation sociale et vous voulez participer au projet ?</h2>
                    
                    <a class="button" href="/nous-rejoindre">Rejoignez le collectif</a>
                </div>
            </div>
        </div>
    </section>


    <section id="equipe-op" class="container">
        <h1 class="title is-3">L’équipe opérationnelle</h1>

        <p>Une équipe opérationnelle conduit le projet au quotidien. Elle instruit, met en oeuvre les actions décidées par le collectif et le comité de pilotage et suit leur état d’avancement.

        <ul class="equipe">
            <li>
                <img src="/static/photos/benedicte_pachod.png">
                <strong>Bénédicte Pachod</strong>
                <span>Chargé de projet au Commissariat général à l’égalité des territoires</span>
            <li>
                <img src="/static/photos/bastien_engelbach.png">
                <strong>Bastien Engelbach</strong>
                <span> Coordonateur des programmes à La Fonda</span>
            <li>
                <img src="/static/photos/emmanuel_dupont.png">
                <strong>Emmanuel Dupont </strong>
                <span>Responsable de mission au Commissariat général à l’égalité des territoires</span>
            <li>
                <img src="/static/photos/Portraits_photos_yannick_blanc.png">
                <strong>Yannick Blanc </strong>
                <span>Haut-commissaire à l’engagement civique</span>
            <li>
                <img src="/static/photos/elise_lalique.png">
                <strong>Elise Lalique </strong>
                <span>Designer - Entrepreneuse d’intérêt général</span>
            <li>
                <img src="/static/photos/julien_paris.png">
                <strong>Julien Paris </strong>
                <span>Développeur -Entrepreneur d’intérêt général</span>
            <li>
                <img src="/static/photos/denis_sabardine.png">
                <strong>Denis Sabardine </strong>
                <span>Animateur et développeur des réseaux GNIAC et RESET</span>

        </ul>
    </section>

</main>

{% endblock %}
