{% extends "layout.html" %}

{% block content %}

{# CSS A CLEANER ABSOLUMENT !!! --> BASE BULMA A RETROUVER !!! #}
<style>

    main > nav,
    main > section{
        padding-left: 2em;
        padding-right: 2em;
    }

    .cis-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cis-cards > *{
        margin: 0 1em;
        padding: 1em;
        flex: 1;
    }

    .cis-cards > * img{
        height: 7em;
    }


    main section h2{
        font-size: 0.8em;
    }
    main section h2 + h1{
        font-size: 1.7em;
        line-height: 1.3em;
        font-weight: bold;

        padding-bottom: 0.5em;
    }

    section#visibilité{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section#visibilité > :first-child{
        flex: 1;
    }
    section#visibilité > :last-child{
        flex: 1;
    }


    section#visibilité .caroussel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section#visibilité .caroussel button{
        border: 0;
        font-size: 2em;
        padding: 1em;
        font-weight: bold;
        background-color: transparent;
    }


    section#visibilité .caroussel button:focus,
    section#visibilité .caroussel button:active{
        box-shadow: none;
        border: 0;
    }

    section#visibilité .caroussel-container{

    }
    section#visibilité .caroussel-container ul.caroussel-content{
        
    }


    section#visibilité .caroussel-container ul.caroussel-content li{
        width: 10em;
        padding: 0 0.5em;

        margin-right: 1em;

        background-color: #F6F6F6;
        white-space: normal;
        vertical-align: top;


        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    section#visibilité .caroussel-container ul.caroussel-content li .text{
        font-size: 0.9em;
        line-height: 1.2em;
        color: #3D3A39;
        padding: 1em;
    }

    section#visibilité .caroussel-container ul.caroussel-content li .text h1{
        color: #592d7b;
        font-weight: bold;
        margin-bottom: 1em;
    }

    section#collectif{
        width: 100%;
        height: 18em;
        padding: 1em 3em;
        
        background-color: #592d7b;
        color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    section#collectif img{
        height: 150%;
    }


    section#collectif p{
        font-size: 2em;
        font-weight: bold;
        max-width: 26em;
        padding: 1em;
    }



    section#nous{
        padding-top: 3em;
    }



    section#definition div {
        padding: 2em 1em;
        background-color: #592d7b;

        color: white;

        width: 66%;
        position: relative;
        left: 33%;
    }


    section#definition h1{
        color: inherit;
    }



    section#concrètement .cis-cards li{
        background-color: #F6F6F6;
    }

    section#concrètement .cis-cards li h1{
        font-size: 1.7em;
        line-height: 1.3em;
        font-weight: bold;
    }

    section#concrètement .cis-cards p{
        padding-bottom: 2em;
    }

    section#concrètement .cis-cards a{
        color: #592d7b;
        border: 1px solid #592d7b;
        background-color: white;

        padding: 1em 2em;
        display: inline-block;
    }


    section#communs{


    }

    section#communs .charte{
        color: white;
        background-color: #592d7b;

        padding: 1em;
    }


    section#communs .charte h1{
        font-size: 1.7em;
        line-height: 1.3em;
        font-weight: bold;
    }


    section#communs .charte a{
        display: inline-block;
        margin-top: 1em;

        color: white;
        border-bottom: 1px solid currentColor;
    }

</style>


<main>
    <nav>
        <ul class="cis-tabs">
            <li class="selected"><a href="/le-projet">About the project</a>
            <li><a href="/the-project/tools">Digital innovation</a>
            {# <li><a href="/le-projet/parlent-de-nous">Ils parlent de nous</a> #}
            <li><a href="/the-project/rewards">Rewards</a>
        </ul>
    </nav>

    <section id="visibilité">
        <div>
            <h2>Our starting point</h2>
            <h1>Social innovations encounter difficulties in becoming known</h1>
            <p>Stakeholders, coaches, financers of social innovations and academics share this problem.
        </div>

        <div class="caroussel">
            <!-- <button class="button previous">&lt;</button> -->
            <div class="caroussel-container">
                <ul class="caroussel-content">
                    <li>
                        <img src="/static/illustrations/Projet_visage2.png">
                        <div class="text">
                            <h1>Marine, Scolab founder</h1>
                            <blockquote>« There are tons of websites which present projects, I don’t know where to look anymore »</blockquote>
                        </div>
                    <li>
                        <img src="/static/illustrations/Projet_visage3.png">
                        <div class="text">
                            <h1>Nadia, Fondation Avenir</h1>
                            <blockquote>« When I look for projects, I always get the same ones » </blockquote>
                        </div>
                    <li>
                        <img src="/static/illustrations/Projet_visage1.png">
                        <div class="text">
                            <h1>Manuel, Incub‘inno</h1>
                            <blockquote>« We need to have a precise vision of what’s going on at the local level »</blockquote>
                        </div>
                </ul>
            </div>
            <!--<button class="button next">&gt;</button> -->
        </div>
                
    </section>

    <section id="collectif">
        <img src="/static/illustrations/Projet_illustration_france.png">
        <p>Social Innovations Crossroad is a community of social innovation actors who put in commun their projects to highlight and develop them.
    </section>

    <section id="nous" class="cis-cards">
        <div>
            <img src="/static/illustrations/Projet_raison_être.png">
            <h2>Why</h2>
            <h1>Highlight every social innovation</h1>
            <p>Associations, foundations, communities or citizens offer many new solutions to today’s challenges. Small as well as national projects are highlighted the same way. 
        </div>
        <div>
            <img src="/static/illustrations/Projet_approche.png">
            <h2>How</h2>
            <h1>Directly collect the information already online</h1>
            <p>Hundreds of websites already collect social innovation projects. We want this information to be more accessible. Community members’ websites are automatically scraped, they don’t have to fill again all the information.
        </div>
        <div>
            <img src="/static/illustrations/Projet_ambition.png">
            <h2>Where to</h2>
            <h1>Boost cooperation</h1>
            <p>Social Innovations Crossroad’s ambition is to connect project holders and to strengthen relations between coaches, financers of social innovations and academics.
        </div>
    </section>

    <section id="definition">
        <div>
            <h1 class="title is-3">Wait, what is a social innovation&nbsp;?</h1>
            <p>No precise definition at the Social Innovations Crossroad ! Projects accessible in the search engine are capitalized by members of the community as part of their missions. Each of them guarantees the innovative approach of the projects they share. 
        </div>
    </section>

    <section id="concrètement">
        <h2>Concretely, Social Innovations Crossroad is</h2>
        <ul class="cis-cards">
            <li>
                <img src="/static/illustrations/Projet_moteur_de_recherche.png">
                <h1>A search engine</h1>
                <p>To better discover, identify and localize social innovation projects in France</p>
                <a href="/recherche">Begin a search</a>
            <li>
                <img src="/static/illustrations/Projet_collectif.png">
                <h1>A community</h1>
                <p>We create a privileged space to get to know and discuss with those who coach, finance and develop social innovations in France.</p>
                <a href="/qui-sommes-nous">Discover the members of our community</a>
            <li>
                <img src="/static/illustrations/Projet_logiciels_libres.png">
                <h1>Open source softwares</h1>
                <p>We have invested in the conception and development of custom-made applications to scrap, aggregate, consolidate and visualize heterogeneous data.</p>
                <a href="/le-projet/outils">Discover our toolbox</a>
        </div>
    </section>

    <section id="communs">
        <h2>What is important to us</h2>
        <h1>Commons</h1>
        <div class="columns">
            <div class="column is-5">
                <p>The search engine and the open-source softwares associated are carried by Social Innovations Crossroad community. Each member participates on an equal manner, the governance being led under the principle of “one member, one voice’’.</p>
                <a href="/qui-sommes-nous"></a>
            </div>
            <div class="charte column is-3 is-offset-2">
                <h1>The community Charter</h1>
                <p>The Charter presents the principles, objectives and organisation of Social Innovations Crossroad’s community.</p>
                <a target="_blank" href="/static/files/Charte_carrefourdesinnovationssociales_VF_V2.pdf">Download the Charter</a>
            </div>
        </div>
    </section>

    <!--
    <section id="timeline">
        <h2>Notre parcours</h2>
        <h1>Les évènements qui ont marqué le Carrefour des Innovations Sociales</h1>
        <p></p>
        <ol>
            <li>
            <li>
            <li>
            <li>
        </ol>
    </section>
    -->

</main>

{% endblock %}
