{% extends "layout.html" %}

{% block content %}

<style>

main > nav,
main > section{
    padding-left: 2em;
    padding-right: 2em;
}

.cis-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cis-cards > *{
    margin: 0 1em;
    padding: 1em;
    flex: 1;
}

.cis-cards > * img{
    height: 7em;
}


main section h2{
    font-size: 0.8em;
}
main section h2 + h1{
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: bold;

    padding-bottom: 0.5em;
}

section#visibilité{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section#visibilité > :first-child{
    flex: 1;
}
section#visibilité > :last-child{
    flex: 1;
}


section#visibilité .caroussel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#visibilité .caroussel button{
    border: 0;
    font-size: 2em;
    padding: 1em;
    font-weight: bold;
    background-color: transparent;
}


section#visibilité .caroussel button:focus,
section#visibilité .caroussel button:active{
    box-shadow: none;
    border: 0;
}

section#visibilité .caroussel-container{

}
section#visibilité .caroussel-container ul.caroussel-content{
    
}


section#visibilité .caroussel-container ul.caroussel-content li{
    width: 10em;
    padding: 0 0.5em;

    margin-right: 1em;

    background-color: #F6F6F6;
    white-space: normal;
    vertical-align: top;


    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

section#visibilité .caroussel-container ul.caroussel-content li .text{
    font-size: 0.9em;
    line-height: 1.2em;
    color: #3D3A39;
    padding: 1em;
}

section#visibilité .caroussel-container ul.caroussel-content li .text h1{
    color: #592d7b;
    font-weight: bold;
    margin-bottom: 1em;
}

section#collectif{
    width: 100%;
    height: 18em;
    padding: 1em 3em;
    
    background-color: #592d7b;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section#collectif img{
    height: 150%;
}


section#collectif p{
    font-size: 2em;
    font-weight: bold;
    max-width: 26em;
    padding: 1em;
}



section#nous{
    padding-top: 3em;
}



section#definition div {
    padding: 2em 1em;
    background-color: #592d7b;

    color: white;

    width: 66%;
    position: relative;
    left: 33%;
}


section#definition h1{
    color: inherit;
}



section#concrètement .cis-cards li{
    background-color: #F6F6F6;
}

section#concrètement .cis-cards li h1{
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: bold;
}

section#concrètement .cis-cards p{
    padding-bottom: 2em;
}

section#concrètement .cis-cards a{
    color: #592d7b;
    border: 1px solid #592d7b;
    background-color: white;

    padding: 1em 2em;
    display: inline-block;
}


section#communs{


}

section#communs .charte{
    color: white;
    background-color: #592d7b;

    padding: 1em;
}


section#communs .charte h1{
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: bold;
}


section#communs .charte a{
    display: inline-block;
    margin-top: 1em;

    color: white;
    border-bottom: 1px solid currentColor;
}

</style>


<main>
    <nav>
        <ul class="cis-tabs">
            <li class="selected"><a href="/bientot/le-projet">A propos</a>
            <li><a href="/bientot/le-projet/outils">Les outils techniques</a>
            <li><a href="/bientot/le-projet/parlent-de-nous">Ils parlent de nous</a>
            <li><a href="/bientot/le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section id="visibilité">
        <div>
            <h2>Notre point de départ</h2>
            <h1>L'innovation sociale manque de visibilité</h1>
            <p>Ce constat est partagé par de nombreux porteurs de projets, accompagnateurs, financeurs ou encore observateurs de l’innovation sociale
        </div>

        <div class="caroussel">
            <!-- <button class="button previous">&lt;</button> -->
            <div class="caroussel-container">
                <ul class="caroussel-content">
                    <li>
                        <img src="/static/illustrations/Projet_visage2.png">
                        <div class="text">
                            <h1>Marine, fondatrice de Scolab</h1>
                            <blockquote>« Il a des tonnes de site qui recensent des projets, on ne sait plus où regarder »</blockquote>
                        </div>
                    <li>
                        <img src="/static/illustrations/Projet_visage3.png">
                        <div class="text">
                            <h1>Nadia, Fondation Avenir</h1>
                            <blockquote>« Quand je cherche des projets, je tombe toujours sur les mêmes » </blockquote>
                        </div>
                    <li>
                        <img src="/static/illustrations/Projet_visage1.png">
                        <div class="text">
                            <h1>Manuel, Incub‘inno</h1>
                            <blockquote>« On a besoin de savoir ce qu’il se passe sur le territoire »</blockquote>
                        </div>
                </ul>
            </div>
            <!--<button class="button next">&gt;</button> -->
        </div>
                
    </section>

    <section id="collectif">
        <img src="/static/illustrations/Projet_illustration_france.png">
        <p>Le Carrefour des innovations sociales est un collectif d’acteurs de l’innovation sociale qui mettent en commun leurs projets dans le but de les valoriser et les développer.
    </section>

    <section id="nous" class="cis-cards">
        <div>
            <img src="/static/illustrations/Projet_raison_être.png">
            <h2>Notre raison d'être</h2>
            <h1>Valoriser toutes les innovations sociales</h1>
            <p>Associations, fondations, collectifs ou encore citoyens imaginent chaque jour des réponses nouvelles aux enjeux sociétaux. Des petits projets de quartiers aux projets nationaux, nous facilitons leur repérage et leur donnons de la visibilité.
        </div>
        <div>
            <img src="/static/illustrations/Projet_approche.png">
            <h2>Notre approche</h2>
            <h1>Relayer l’information déjà en ligne</h1>
            <p>Des centaines de sites recensent déjà des projets d’innovation sociale. Nous voulons rendre cette information plus accessible. Les données sur les projets sont donc collectées auprès des sites des membres du collectif.
        </div>
        <div>
            <img src="/static/illustrations/Projet_ambition.png">
            <h2>Notre ambition</h2>
            <h1>Créer de nouveaux liens</h1>
            <p>Le Carrefour des innovations sociales a pour ambition de faire se connecter des porteurs de projets et de renforcer les relations entre les financeurs, accompagnateurs et universitaires qui favorisent l’innovation sociale.
        </div>
    </section>

    <section id="definition">
        <div>
            <h1 class="title is-3">Mais au fait, c'est quoi une innovation sociale&nbsp;?</h1>
            <p>Aucune définition précise pour le Carrefour des innovations sociales ! Les projets accessibles depuis le moteur de recherche sont recensés par les membres du collectif dans le cadre de leurs activités. Chacun d’entre eux est garant du caractère innovant des projets qu’il partage.
        </div>
    </section>

    <section id="concrètement">
        <h2>Concrètement, le Carrefour des Innovations sociales, c'est :</h2>
        <ul class="cis-cards">
            <li>
                <img src="/static/illustrations/Projet_moteur_de_recherche.png">
                <h1>Un moteur de recherche</h1>
                <p>Pour mieux découvrir, repérer et localiser les projets d’innovation sociales en France.</p>
                <a href="/bientot/recherche">Commencer un recherche</a>
            <li>
                <img src="/static/illustrations/Projet_collectif.png">
                <h1>Un collectif</h1>
                <p>Nous créons un espace privilégié pour connaître et échanger avec ceux qui accompagnent, financent et développent les innovations sociales en France.</p>
                <a href="/bientot/le-collectif">Découvrez les membres du collectif</a>
            <li>
                <img src="/static/illustrations/Projet_logiciels_libres.png">
                <h1>Des logiciels libres</h1>
                <p>Nous développons des logiciels spécialement pour le projet. Ils permettent de récupérer l’information sur les sites des partenaires, de la consolider et de la visualiser.</p>
                <a href="/bientot/le-projet/outils">Découvrez nos outils</a>
        </div>
    </section>

    <section id="communs">
        <h2>Ce qui nous tient à cœur</h2>
        <h1>Les communs</h1>
        <div class="columns">
            <div class="column is-5">
                <p>Le moteur de recherche et les outils open-source associés sont portés par le collectif du Carrefour des innovations sociales. Chaque membre participe de manière égale à la gouvernance du projet selon le principe « un membre, une voix ».</p>
                <a href="/bientot/le-collectif"></a>
            </div>
            <div class="charte column is-3 is-offset-2">
                <h1>La charte du collectif</h1>
                <p>Elle définit les objectifs, principes et modes d’organisation du Carrefour des innovations sociales.</p>
                <a target="_blank" href="/static/files/Charte_carrefourdesinnovationssociales_VF_V2.pdf">Téléchargez la charte</a>
            </div>
        </div>
    </section>

    <!--
    <section id="timeline">
        <h2>Notre parcours</h2>
        <h1>Les évènements qui ont marqué le Carrefour des Innovations Sociales</h1>
        <p></p>
        <ol>
            <li>
            <li>
            <li>
            <li>
        </ol>
    </section>
    -->

</main>

{% endblock %}
