{% extends "layout.html" %}

{% block content %}

<main>
    <nav>
        <ul>
            <li><a href=".">A propos</a>
            <li><a href="./le-projet/outils">Les outils techniques</a>
            <li><a href="./le-projet/presse">Ils parlent de nous</a>
            <li><a href="./le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section>
        <div>
            <h2>Notre point de départ</h2>
            <h1>L'innovation sociale manque de visibilité</h1>
            <p>Ce constat... </p>
        </div>
        <div>
            <ul>
                <li>
                <li>
            </ul>
        </div>
    </section>

    <section>
        <img src=".">
        <p>Le Carrefour ... </p>
    </section>

    <section>
        <div>
            <img>
            <h2>Notre raison d'être</h2>
            <h1>Valoriser toutes les innovations sociales</h1>
            <p>Associations ...
        </div>
        <div>
            <img>
            <h2>Notre raison d'être</h2>
            <h1>Valoriser toutes les innovations sociales</h1>
            <p>Associations ...
        </div>
        <div>
            <img>
            <h2>Notre raison d'être</h2>
            <h1>Valoriser toutes les innovations sociales</h1>
            <p>Associations ...
        </div>
    </section>

    <section>
        <h1>Mais au fait, c'est quoi une innovation sociale ?</h1>
        <p>Aucune définition...</p>
    </section>

    <section>
        <h2>Concrètement, le Carrefour des Innovations sociales, c'est :</h2>
        <div>
            <div>
                <img>
                <h1>Un moteur de recherche</h1>
                <p>Associations ...
                <a href="./recherche">Commencer un recherche</a>
            </div>
            <div>
                <img>
                <h1>Un collectif</h1>
                <p>Associations ...
                <a href="./le-collectif">Découvrez les membres du collectif</a>
            </div>
            <div>
                <img>
                <h1>Des logiciels libres</h1>
                <p>Associations ...
                <a href="./le-projet/outils">Découvrez nos outils</a>
            </div>
        </div>
    </section>

    <section>
        <h2>Ce qui nous tient à cœur</h2>
        <div>
            <div>
                <h1>Les communs</h1>
                <p>Le moteur de recherche...</p>
                <a href="./le-collectif"></a>
            </div>
            <div>
                <h1>La charte du collectif</h1>
                <p>Elle définit...</p>
                <a href="">Téléchargez la charte</a>
            </div>
        </div>
    </section>

    <section>
        <h2>Notre parcours</h2>
        <h1>Les évènements qui ont marqué le Carrefour des Innovations Sociales</h1>
        <p></p>
        <ol>
            <li>
            <li>
            <li>
            <li>
        </ol>
    </section>


</main>

{% endblock %}