{% extends "layout.html" %}

{% block content %}


<main id="projet">
    <nav class="container">
        <ul class="cis-tabs">
            <li class="selected"><a href="/le-projet">A propos</a>
            <li><a href="/le-projet/outils">Les outils techniques</a>
            <li><a href="/le-projet/parlent-de-nous">Ils parlent de nous</a>
            <li><a href="/le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section id="visibilité" class="container">
        <div class="columns">
            <div class="column is-6">
                <h2 class="subtitle">Notre point de départ</h2>
                <h1 class="title is-2">L'innovation sociale manque de visibilité</h1>
                <p>Ce constat est partagé par de nombreux porteurs de projets, accompagnateurs, financeurs ou encore observateurs de l’innovation sociale
            </div>

            <div class="caroussel column is-6">
                <!-- <button class="button previous">&lt;</button> -->
                <div class="caroussel-container">
                    <ul class="caroussel-content">
                        <li>
                            <img src="/static/illustrations/Projet_visage2.png">
                            <div class="text">
                                <h1>Marine, fondatrice de Scolab</h1>
                                <blockquote>« Il a des tonnes de site qui recensent des projets, on ne sait plus où regarder »</blockquote>
                            </div>
                        <li>
                            <img src="/static/illustrations/Projet_visage3.png">
                            <div class="text">
                                <h1>Nadia, Fondation Avenir</h1>
                                <blockquote>« Quand je cherche des projets, je tombe toujours sur les mêmes » </blockquote>
                            </div>
                        <li>
                            <img src="/static/illustrations/Projet_visage1.png">
                            <div class="text">
                                <h1>Manuel, Incub‘inno</h1>
                                <blockquote>« On a besoin de savoir ce qu’il se passe sur le territoire »</blockquote>
                            </div>
                    </ul>
                </div>
                <!--<button class="button next">&gt;</button> -->
            </div>
        </div>
                
    </section>

    <section id="collectif" class="hero">
        <img src="/static/illustrations/Projet_illustration_france.png">
        <h2 class="title is-2">Le Carrefour des innovations sociales est un collectif d’acteurs de l’innovation sociale qui mettent en commun leurs projets dans le but de les valoriser et les développer.</h2>
    </section>

    <section id="nous" class="container">
        <div class="columns cis-cards">
            <div class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_raison_être.png">
                    <h2 class="subtitle">Notre raison d'être</h2>
                    <h1 class="title is-2">Valoriser toutes les innovations sociales</h1>
                    <p>Associations, fondations, collectifs ou encore citoyens imaginent chaque jour des réponses nouvelles aux enjeux sociétaux. Des petits projets de quartiers aux projets nationaux, nous facilitons leur repérage et leur donnons de la visibilité.
                </div>
            </div>
            <div class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_approche.png">
                    <h2 class="subtitle">Notre approche</h2>
                    <h1 class="title is-2">Relayer l’information déjà en ligne</h1>
                    <p>Des centaines de sites recensent déjà des projets d’innovation sociale. Nous voulons rendre cette information plus accessible. Les données sur les projets sont donc collectées auprès des sites des membres du collectif.
                </div>
            </div>
            <div class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_ambition.png">
                    <h2 class="subtitle">Notre ambition</h2>
                    <h1 class="title is-2">Créer de nouveaux liens</h1>
                    <p>Le Carrefour des innovations sociales a pour ambition de faire se connecter des porteurs de projets et de renforcer les relations entre les financeurs, accompagnateurs et universitaires qui favorisent l’innovation sociale.
                </div>
            </div>
        </div>
    </section>

    <section id="definition" class="container">
        <div class="columns">
            <div class="column is-offset-4 is-8">
                <h2 class="title is-2">Mais au fait, c'est quoi une innovation sociale&nbsp;?</h2>
                <p>Aucune définition précise pour le Carrefour des innovations sociales ! Les projets accessibles depuis le moteur de recherche sont recensés par les membres du collectif dans le cadre de leurs activités. Chacun d’entre eux est garant du caractère innovant des projets qu’il partage.
            </div>
        </div>
    </section>

    <section id="concrètement" class="container">
        <h2 class="subtitle">Concrètement, le Carrefour des Innovations sociales, c'est :</h2>
        <ul class="cis-cards columns">
            <li class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_moteur_de_recherche.png">
                    <h2 class="title is-2">Un moteur de recherche</h2>
                    <p>Pour mieux découvrir, repérer et localiser les projets d’innovation sociales en France.</p>
                    <a class="button" href="/recherche">Commencer une recherche</a>
                </div>
            <li class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_collectif.png">
                    <h2 class="title is-2">Un collectif</h2>
                    <p>Nous créons un espace privilégié pour connaître et échanger avec ceux qui accompagnent, financent et développent les innovations sociales en France.</p>
                    <a class="button" href="/qui-sommes-nous">Découvrez les membres du collectif</a>
                </div>
            <li class="column is-third">
                <div class="cis-card">
                    <img src="/static/illustrations/Projet_logiciels_libres.png">
                    <h2 class="title is-2">Des logiciels libres</h2>
                    <p>Nous développons des logiciels spécialement pour le projet. Ils permettent de récupérer l’information sur les sites des partenaires, de la consolider et de la visualiser.</p>
                    <a class="button" href="/le-projet/outils">Découvrez nos outils</a>
                </div>
        </div>
    </section>

    <section id="communs" class="container">
        <h2 class="subtitle">Ce qui nous tient à cœur</h2>
        <div class="columns">
            <div class="column is-5">
                <h1 class="title is-2">Les communs</h1>
                <p>Le moteur de recherche et les outils open-source associés sont portés par le collectif du Carrefour des innovations sociales. Chaque membre participe de manière égale à la gouvernance du projet selon le principe « un membre, une voix ».</p>
                <a href="/qui-sommes-nous"></a>
            </div>
            <div class="charte column is-3 is-offset-2">
                <h1 class="title is-2">La charte du collectif</h1>
                <p>Elle définit les objectifs, principes et modes d’organisation du Carrefour des innovations sociales.</p>
                <a target="_blank" href="/static/files/Charte_carrefourdesinnovationssociales_VF_V2.pdf">Téléchargez la charte</a>
            </div>
        </div>
    </section>

    <!--
    <section id="timeline">
        <h2>Notre parcours</h2>
        <h1>Les évènements qui ont marqué le Carrefour des Innovations Sociales</h1>
        <p></p>
        <ol>
            <li>
            <li>
            <li>
            <li>
        </ol>
    </section>
    -->

</main>

{% endblock %}
