{% extends "layout.html" %}

{% block content %}


<main id="outils">
    <nav>
        <ul class="cis-tabs">
            <li><a href="/the-project">About the project</a>
            <li class="selected"><a href="/the-project/tools">Digital innovation</a>
            {# <li><a href="/le-projet/parlent-de-nous">Ils parlent de nous</a> #}
            <li><a href="/the-project/rewards">Rewards</a>
        </ul>
    </nav>

    <section id="open-source">
        <h1>We are developping 3 open-source <em>open source</em> softwares</h1>
        <p>These softwares were initiated based on the specific needs of Social Innovations Crossroad. They enable to collect, aggregate, consolidate and visualize information on social innovation projects.
        <p>We also invest in digital investment. These softwares are open-source in an operational way. They are starting to be adapted to other needs of actors working the public interest. the 3 softwares can be used separately.
    </section>

    <section id="architecture">
        <div>
            <ul>
                <li>
                    <img src="/static/illustrations/Projet_outils_open_scraper.png">
                    <p><strong>Open scraper</strong>  collects projects information directly on the websites.

                <li>
                    <img src="/static/illustrations/Projet_outils_solidata.png">
                    <p><strong>Solidata</strong> aggregates and consolidates projects information.
                <li>
                    <img src="/static/illustrations/Projet_outils_apiviz.png">
                    <p><strong>Apiviz</strong>  is where to visualise information thanks to a search engine, a map and data visualisation tools.

            </ul>
        </div>
    </section>

    <section class="software-show">
        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_openscraper.png">
        </div>
        <div>
            <h1>Open Scraper</h1>
            <h2>To collect data on websites</h2>
            <h3>Features</h3>
            <ul>
                <li>Collect data published on websites
                <li>Turn disparate data into homogenous ones
                <li>Open data and control the degree of their sharing (from private data to open data)
            </ul>
            <!-- <a class="test" href="">Tester Open Scraper</a> -->
            <a class="github" href="https://github.com/entrepreneur-interet-general/OpenScraper">Check on Github</a>
        </div>
    </section>

    <section class="software-show">

        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_solidata.png">
        </div>
        
        <div>
            <h1>Solidata</h1>
            <h2>To aggregate and consolidate data</h2>
            <h3>Features</h3>
            <ul>
                <li>Aggregate data coming from diverse files and sources
                <li>Enrich data thanks to external open data : geolocalisation, administrative data, …
                <li>Open data and control the degree of their sharing (from private data to open data)
            </ul>
            <!-- <a class="test" href="">Tester Solidata</a> -->
            <a class="github" href="https://github.com/entrepreneur-interet-general/solidata_frontend">Check on Github</a>
        </div>
    </section>

    <section class="software-show">

        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_apiviz.png">
        </div>
        <div>
            <h1>Apiviz</h1>
            <h2>To visualise data flow</h2>
            <h3>Features</h3>
            <ul>
                <li>Look for precise data thanks to a search engine
                <li>Visualise aggregated data in different ways : map, data visualisation, etc.
                <li>Make its own favorite list
            </ul>
            <!-- <a class="test" href="">Tester Apiviz</a> -->
            <a class="github" href="https://github.com/entrepreneur-interet-general/CIS-front">Check on Github</a>
        </div>
    </section>
<!--
    <section class="contact">
        <h2>Vous êtes intéréssé.e par un ou plusieurs de ces logiciels ?</h1>
        <p> Ils sont open-source et libres d’être utilisés par tous.
        <h1>Vous voulez échanger avec nous ?</h1>
        <a href="/contact">Ecrivez-nous</a>
    </section>
-->
</main>

{% endblock %}