{% extends "layout.html" %}

{% block content %}

<main>
    <nav>
        <ul>
            <li><a href="..">A propos</a>
            <li><a href="../le-projet/outils">Les outils techniques</a>
            <li><a href="../le-projet/presse">Ils parlent de nous</a>
            <li><a href="../le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section>
        <h1>Nous développons trois logiciels <em>open source</em></h1>
        <p>Ces outils.... </p>
    </section>

    <section>
        <div>
            <img>
        </div>
        <div>
            <h1>Open Scraper</h1>
            <h2>Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>nia nia
                <li>nia nia
                <li>nia nia
            </ul>
            <a href="">Tester Open Scraper</a>
            <a href="">Voir sur Github</a>
        </div>
    </section>

    <section>
        <div>
            <img>
        </div>
        <div>
            <h1>Solidata</h1>
            <h2>Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>nia nia
                <li>nia nia
                <li>nia nia
            </ul>
            <a href="">Tester Open Scraper</a>
            <a href="">Voir sur Github</a>
        </div>
    </section>

    <section>
        <div>
            <img>
        </div>
        <div>
            <h1>Apiviz</h1>
            <h2>Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>nia nia
                <li>nia nia
                <li>nia nia
            </ul>
            <a href="">Tester Open Scraper</a>
            <a href="">Voir sur Github</a>
        </div>
    </section>

    <section>
        <h1>Intéressés ?</h1>
        <p>nia nia
        <h1>échanger</h1>
        <a></a>
    </section>

</main>

{% endblock %}