{% extends "layout.html" %}

{% block content %}


<main id="outils">
    <nav class="container">
        <ul class="cis-tabs">
            <li><a href="/le-projet">A propos</a>
            <li class="selected"><a href="/le-projet/outils">Les outils techniques</a>
            <li><a href="/le-projet/parlent-de-nous">Ils parlent de nous</a>
            <li><a href="/le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section id="open-source" class="container">
        <h1 class="title is-2">Nous développons trois logiciels <em>open source</em></h1>
        <p>Ces outils sont nés des besoins spécifiques du Carrefour des innovations sociales. Ils permettent d’extraire, de consolider et de visualiser les informations des projets d’innovations sociales.
        <p>Nous investissons dans de l’innovation numérique. Cette suite est open-source et conçue de manière générique. Elle peut être adaptée à d’autres projets. Les trois logiciels fonctionnent indépendamment.
    </section>

    <section id="architecture" class="hero">
        <div>
            <ul class="columns">
                <li class="column">
                    <div>
                        <img src="/static/illustrations/Projet_outils_open_scraper.png">
                        <p><strong>Open scraper</strong> collecte toute l’information des projets sur les sites des membres du collectif.
                    </div>
                <li class="column">
                    <div>
                        <img src="/static/illustrations/Projet_outils_solidata.png">
                        <p><strong>Solidata</strong> centralise et consolide les informations sur les projets.
                    </div>
                <li class="column">
                    <div>
                        <img src="/static/illustrations/Projet_outils_apiviz.png">
                        <p><strong>Apiviz</strong> est l’interface qui permet de visualiser ces informations sous forme de fiches projets, cartographie et datavisualisation.
                    </div>
            </ul>
        </div>
    </section>

    <section class="software-show container">
        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_openscraper.png">
        </div>
        <div>
            <h1 class="title is-1">Open Scraper</h1>
            <h2 class="title is-2">Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>Récupérer des données publiées sur des sites internet
                <li>Homogénéiser des données disparates 
                <li>Ouvrir les données en maîtrisant leurs degrés d'ouverture (des données qui restent privées à de l’open data)
            </ul>
            <!-- <a class="test" href="">Tester Open Scraper</a> -->
            <a class="github button" href="https://github.com/entrepreneur-interet-general/OpenScraper">Voir sur Github</a>
        </div>
    </section>

    <section class="software-show container">

        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_solidata.png">
        </div>
        
        <div>
            <h1 class="title is-1">Solidata</h1>
            <h2 class="title is-2">Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>Agréger des données provenant de sources ou de fichiers différents 
                <li>Enrichir les données grâce à des données externes : géolocalisation, données administratives (SIRET), ... 
                <li>Homogénéiser les tags des données agrégées 
                <li>Ouvrir les données en maîtrisant leurs degrés d’ouverture (des données qui restent privées à de l’open data)
            </ul>
            <!-- <a class="test" href="">Tester Solidata</a> -->
            <a class="github button" href="https://github.com/entrepreneur-interet-general/solidata_frontend">Voir sur Github</a>
        </div>
    </section>

    <section class="software-show container">

        <div>
            <img src="/static/illustrations/Projet_outils_screenshot_apiviz.png">
        </div>
        <div>
            <h1 class="title is-1">Apiviz</h1>
            <h2 class="title is-2">Pour collecter des données publiées sur des sites</h2>
            <h3>Fonctionnalités</h3>
            <ul>
                <li>Chercher des données via un moteur de recherche 
                <li>Visualiser les données agrégées sous différentes formes : cartographie, datavisualisation, vue détaillée des données (fiches projets) …
                <li>Faire sa propre liste de favoris
            </ul>
            <!-- <a class="test" href="">Tester Apiviz</a> -->
            <a class="github button" href="https://github.com/entrepreneur-interet-general/CIS-front">Voir sur Github</a>
        </div>
    </section>
<!--
    <section class="contact">
        <h2>Vous êtes intéréssé.e par un ou plusieurs de ces logiciels ?</h1>
        <p> Ils sont open-source et libres d’être utilisés par tous.
        <h1>Vous voulez échanger avec nous ?</h1>
        <a href="/contact">Ecrivez-nous</a>
    </section>
-->
</main>

{% endblock %}