
{% extends "main.html" %}


{% block content %}

{# from : https://dansup.github.io/bulma-templates/ #}

<section class="hero is-light is-fullheight skip-navbar">
	<div class="hero-body">
		<div class="container has-text-centered">
			
			<div class="column is-4 is-offset-4">
				
				<h3 class="title has-text-grey">Login</h3>
				
				<p class="subtitle has-text-grey">vous connecter à l'espace pro</p>
				
				<div class="box">


					{% include "forms/form-login.html" %}


				</div>


				{# <p class="has-text-grey">
					{ # <a href="/register">créer un compte</a> &nbsp;·&nbsp; # }
					<a href="/forgot-password" disabled>password oublié ?</a> &nbsp;·&nbsp;
					<a href="/help" disabled>besoin d'aide ?</a>
				</p> 
				#}


				<br>



				{# <div class="is-divider" data-content="pas encore de compte ?"></div> #}
				<p class="subtitle has-text-grey">pas encore enregistré ?</p>
				<div class="box">
					<a class="button is-primary is-large is-outlined is-fullwidth" href="/register" >
						<strong>Je crée mon compte</strong>
					</a>
				</div>


			</div>

		</div>
	</div>
</section>


{% endblock %}