<!DOCTYPE html>
<html>	 

	<head>

		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{# FONTS #}
		{# <link href="https://fonts.googleapis.com/css?family=Assistant:200|Barlow|Quicksand|Raleway|Roboto|Ubuntu" rel="stylesheet"> #}

		{# JQUERY #}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
		
		

		{# BULMA EXTENSIONS FOR WHOLE WEBSITE #}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-checkradio.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-tooltip.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-badge.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-divider.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-timeline.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-ext/bulma-steps.min.css') }}">
		<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='css/bulma-ext/bulma-steps.min.js') }}"></script>


		{# BULMA #}
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> #}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-custom.css') }}">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		

		
		{# RECAPTCHA #}


		{# CRISP CHAT #}


		{# GOOGLE ANALYTICS #}


		{# MIX PANEL METRICS #}


		{# CHARTS #}
		<script type="text/javascript" language="javascript" src="https://cdnjs.com/libraries/Chart.js"></script>		


		{# DATATABLE #}
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


		{# CUSTOM STYLES ---> TO FIX #}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cis-custom.css') }}">


	</head>




	{# MAIN CONTENTS #}
	<body>
		

		{# nav bar #}
		<header class="navbar is-white is-fixed-top">
			{% include "navbar.html" %}
		</header>


		{# contents #}
		{% block content %}
		{% endblock %}



		{# footer #}
		{% include "footer.html" %}

	
	</body>

</html>