

<div id="navbar-top" class="container">

	{# brand #}
	<div class="navbar-brand">

		<a class="navbar-item" href="/">
			<img id="navbar-logo" src='{{url_for ("static", filename="logos/cis/CIS_beta_logo_LD.png" ) }}' alt="Logo">
			{# Carrefour des innovations sociales #}
		</a>

		<span class="navbar-burger burger" data-target="navbarMenuHeroC">
			<span></span>
			<span></span>
			<span></span>
		</span>

	</div>



	{# navbar's buttons #}
	<div id="navbarMenuHeroC" class="navbar-menu">
		

		{% if is_connected is defined %}
		
			{% include "elements/navbar-search-input.html" %}

		{% endif %}




		{# buttons at navbar start #}

		<div class="navbar-end">
			
			<span class="navbar-item">

				<div class="field is-grouped">


					{# 
					<p class="control">
						 {{ user_infos.userName }} - {{ user_infos.userAuthLevel}}
					</p>
					#}


					{# SOCIAL NETWORKS #}
					<a class="navbar-item ">
						<span class="icon has-text-primary">
							<i class="fab fa-2x fa-twitter"></i>
						</span>
					</a>


					<a class="navbar-item ">
						<span class="icon has-text-primary ">
							<i class="fab fa-2x fa-facebook"></i>
						</span>
					</a>


					{# LOGIN - LOGOUT - USER BTNS #}
					{% if user_infos.is_authenticated == False %}

						<div class="navbar-item">
							<a class="button is-primary is-outlined" href="/login">
								<span>Connectez-vous</span>
							</a>
						</div>

					{% else %}


						{% if user_infos.userAuthLevel == "admin" %}
						<div class="navbar-item">
							<a class="button is-warning is-outlined" href="/admin">
								<span class="icon">
									<i class="fas fa-lg fa-lock"></i>
								</span>
							</a>
						</div>
						{% endif %}

						<a class="navbar-item tooltip is-tooltip-bottom"
							data-tooltip="bonjour, {{ user_infos.userName }} ({{ user_infos.userAuthLevel }})"
							>
							<span class="icon has-text-grey">
								<i class="fas fa-2x fa-user-circle"></i>
							</span>
						</a>

						<a 	class="navbar-item tooltip is-tooltip-bottom" 
							data-tooltip="se déconnecter"
							href="/logout">
							<span class="icon has-text-light">
								<i class="fas fa-2x fa-sign-out-alt"></i>
							</span>
						</a>

					{% endif %}





				</div>

			</span>


		</div>
	</div>
</div>