{% extends "layout.html" %}

{% block content %}

{# SEARCH INPUT #}
<main id="home">
    <section id="top" class="hero">
        <div class="background columns is-centered">
            <div class="column is-8">
                <h1 class="title is-1">Discover and localize projects <br>of social innovation in France !</h1>
                <form action="/recherche" method="GET" class="columns">
                    <div class="column is-10">
                        <div class="image-container"><img src="/static/icons/icon_search_violet.svg"></div>
                        <input 
                            type="search" 
                            name="text"
                            class="input"
                            placeholder="What theme are you interested in ?">
                        </input>
                    </div>
                    <div class="column is-2 is-hidden-touch">
                        <button class="button is-fullwidth" type="submit">Search</button>
                    </div>
                    {# <div class="column is-2 is-hidden-desktop">
                        <button class="button is-fullwidth" type="submit">R</button>
                    </div> #}
                </form>
                <h3>
                    <span class="counter"></span>
                    <span class="text">projects already accessibles</span>
                </h3>
            </div>
        </div>
    </section>

    {# VIDEO #}
    <section>
        <br>
        <h2 class="title is-1">2 minutes (in French) to understand the project</h2>
        <div class="columns is-centered"
             height="600px">
            <div class="column is-8" style="width:844px; height:475px">
                <iframe 
                    class="is-centered"
                    width="844px" 
                    height="475px" 
                    src="https://www.youtube.com/embed/QKm1KLtm9DY" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <br>
    </section>

    {# TEXT / PARTICIPATE #}
    <section id="participer" class="hero">
        <div class="background">
        
            <div class="columns is-centered">
                <div class="column is-8">

                    <h1 class="title is-1">How to participate?</h1>
                    <h2 class="title is-2">
                        <strong>We don’t collect directly projects, we highlight those collected by members of our <a href="/qui-sommes-nous">community</a>.</strong>
                    </h2>
                    <p>
                        Hundreds of websites already collect social innovation projects. We want this information to be more accessible. Community members’ websites are automatically scraped, they don’t have to fill again all the information. Every actor already highlighting social innovations can join the community.
                    </p>
                </div>
            </div>

            <div class="columns is-centered rejoindre">
                <div class="column is-4">
                    <img src="/static/illustrations/HP_lame3_collectif%402x.png">
                </div>
                <div class="column is-4">
                    <p>
                        You capitalize social innovation projects and you’d like to share them in the Social Innovation Crossroad?
                    </p>
                    <a class="button" href="/nous-rejoindre">Discover how to join the project</a>
                </div>
            </div>

        </div>
    </section>

    <section id="collectif">
        <h2 class="title is-1">A community of more than 50 members</h2>
        <p>Social innovation crossroad federates public institutions, networks, foundations, associations, medias and research centers.</p>
        <div class="columns">
            <div class="column" style="flex: 2;">
                <h3>They the started the project...</h3>
                <ul class="columns">
                    <li class="column"> <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/CGET_signat_seul_CMJN.png" alt="Logo CGET">
                    <li class="column"> <img src="/static/logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/LaFonda_RVB.png" alt="Logo La Fonda">
                </ul>
            </div>
            <div class="column" style="flex: 5;">
                <h3>.. and co-pilot it with…</h3>
                <ul class="columns">
                    <li class="column"> <img src="/static/logos/Partenaires/Associations_et_accompagnateurs/AVISE_RVB.png" alt="Logo Avise">
                    <li class="column"> <img src="/static/logos/Partenaires/Fondation_et_acteurs_engages_RSE/FONDATION_COGNAC_JAY.png" alt="Logo Fondation Cognacq-Jay">
                    <li class="column"> <img src="/static/logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/APRILES.png" alt="Logo Apriles">
                    <li class="column"> <img src="/static/logos/Partenaires/Associations_et_accompagnateurs/GNIAC.png" alt="Logo Gniac">
                    <li class="column"> <img src="/static/logos/Partenaires/Think_Thank_et_acteurs_de_la_recherche/Labo_ESS.png" alt="Logo Le Labo ESS">
                </ul>
            </div>
        </div>
        <a class="button" href="./qui-sommes-nous">Discover all members of the community</a>
        <div>
            <h3>They support the project</h3>
            <ul class="columns">
                <li class="column"> <img src="/static/logos/Partenaires/Fondation_et_acteurs_engages_RSE/FNCE_Horizontal_200ans.png" alt="Logo Fondation Caisse d'Epargne">
                <li class="column"> <img src="/static/logos/Partenaires/logos à ajouter/FFE.png" alt="Logo FFR">
                <li class="column"> <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/Investissements_d'avenir_-_logo.jpeg" alt="Logo Investissements d'avenir">
                <li class="column"> <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/Etalab logo.PNG" alt="Logo Etalab">
                <li class="column"> <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/EIG.png" alt="Logo Entrepreneur d'Intérêt général">
            </ul>
        </div>
    </section>

    <section id="témoignages">
        <div class="border"></div>
        <div class="background">
            <h2 class="title is-2">Stories of the community</h2>

            <div class="caroussel">
                <button class="button previous"></button>
                <div class="caroussel-container">
                    <ul class="caroussel-content">
                        <li>
                            <img src="/static/photos/Portraits_photos_Hugues_Sibille.png">
                            <div class="text">
                                <h1>Hugues Sibille, Labo de l’ESS (french think-tank in social economy) </h1>
                                <blockquote>« Social innovation is a Great Promise. Our responsibility is to recognize, transform and, before all, accelerate it to thrive results as high as unsatisfied social needs. »</blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_philippe_laurent.png">
                            <div class="text">
                                <h1>Philippe Laurent, Association of French Mayors</h1>
                                <blockquote>« Facing the growing risk of social and territorial divide linked with the crisis, social economy appears today as a chance to grasp. We therefore chose to join Social Innovation Crossroad to share good practices and impacting initiatives that disrupt practices by creating shared social value. » </blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_florence_raineix.png">
                            <div class="text">
                                <h1>Florence Raineix, National Federation of Caisses d’Epargne (french cooperative banks)</h1>
                                <blockquote>« As regional cooperative banks, through our federation, we are proud to contribute to the co-construction of this platform serving territories and its social innovations » </blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_yannick_blanc.png">
                            <div class="text">
                                <h1>Yannick Blanc, Fonda (prospective think tank for associations)</h1>
                                <blockquote>« Social Innovation Crossroad can become a lever to transform the world. It will enable to understand and develop capacity of initiative and cooperation in the society, the cornerstone of social innovation and its promises. »</blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_cedric_szabo.png">
                            <div class="text">
                                <h1>Cédric Szabo, AMRF ( Association of French rural mayors)</h1>
                                <blockquote>« At a crossroad meet people from every horizon, including some who ignored the existence of the other. It’s to give light to rural territories as they really are, that local, rural projects are legitimate in this exchange forum » </blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_giorgia_segrebondi.png">
                            <div class="text">
                                <h1>Giorgia Sebregondi, Fondation Cognacq-Jayy</h1>
                                <blockquote>« This project is fulfilling meetings, other perspectives for social innovation, the experience of an original governance and discovering new inclusive projects. » </blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_emma_stocking.png">
                            <div class="text">
                                <h1>Emma Stokking, Sparknews</h1>
                                <blockquote>«  Sparknews’ mission is to identify and highlight the most inspiring social innovations. It was thus natural for us to join the Crossroad in order to contribute and find new topics » </blockquote>
                            </div>
                        <li>
                            <img src="/static/photos/Portraits_photos_christophe_thevignot copie 4.png">
                            <div class="text">
                                <h1> Christophe Thevignot, AEIDL </h1>
                                <blockquote>« Identify, communicate and support social innovations in Europe is part of AEIDL’s priorities » </blockquote>
                            </div>
                        
                    </ul>
                </div>
                <button class="button next"></button>
            </div>
        </div>
    </section>

    
    {# <section id="contacter">
        <h2 class="title is-2">Une question à nous poser ?</h2>

        {% include "forms/form-preregister.html" %}

    </section> #}

</main>

<script>
'use strict';

const projectCountP = fetch('http://www.cis-openscraper.com/api/infos')
.then(r => r.json())
.then(res => res.counts.data)

document.addEventListener('DOMContentLoaded', e => {
    // counter
    const DELAY = 1000;
    
    const counter = document.querySelector('#top .counter')
    projectCountP.then(projectCount => {
        const start = performance.now();

        (function step(){
            requestAnimationFrame(now => {
                const elapsed = now - start;
                let fraction = elapsed/DELAY;
                if(fraction >= 1)
                    fraction = 1;

                // ease out expo to stabilize the significative numbers quickly
                const toDisplay = projectCount * (1 - (fraction === 1 ? 0 : Math.pow(2, -10*fraction)));

                counter.textContent = Math.round(Math.max(0, toDisplay));

                if(fraction < 1){
                    step();
                }
            })
        })();
    })


    // témoignages
    let shift = 0;
    const SHIFT_UNIT = 15; // em
    const TESTIMONY_COUNT = document.querySelectorAll('#témoignages ul.caroussel-content li').length;
    const TESIMONY_SHOWN = 3;

    const carousselContainer = document.querySelector('#témoignages .caroussel-content')
    const nextButton = document.querySelector('#témoignages .caroussel .next')
    const previousButton = document.querySelector('#témoignages .caroussel .previous')
    
    previousButton.addEventListener('click', e => {
        if(shift >= 1)
            shift -= 1;
        carousselContainer.style.transform = `translateX(-${shift*SHIFT_UNIT}em)`
    })
    
    nextButton.addEventListener('click', e => {
        if(shift < TESTIMONY_COUNT-TESIMONY_SHOWN)
            shift += 1;
        carousselContainer.style.transform = `translateX(-${shift*SHIFT_UNIT}em)`
    })

}, {once: true})
</script>

{% endblock %}