{% extends "layout.html" %}

{% block content %}

<main>
    <section class="full-width">
        <div>
            <h1>Découvrez et repérez tous les projets d'innovation sociale en France</h1>
            <form>
                <input placeholder="">
                <button type="submit">Rechercher</button>
            </form>
            <h2>
                <span class="counter">10000</span>
                <span>projets déjà réferencés</span>
            </h2>
        </div>
    </section>

    <section>
        <h2>2 minutes pour comprendre le projet</h2>
        <video src=""></video>
    </section>

    <section>
        <h2>Comment participer ?</h2>
        <p>
            <strong>Nous ne ... par le <a href="./le-collectif">collectif</a></strong>
        </p>
        <p>
            Des centaines...
        </p>
        <p>
            Vous recencez ... 
        </p>
        <a href="./le-collectif">Découvrez comment rejoindre le collectif</a>
    </section>

    <section>
        <h2>Un collectif de plus de 50 membres</h2>
        <p>Le Carrefour...<p>
        <div>
            <div>
                <h3>Ils ont initié le projet</h3>
                <ul>
                    <li>
                    <li>
                </ul>
            </div>
            <div>
                <h3>Ils copilotent le projet</h3>
                <ul>
                    <li>
                    <li>
                </ul>
            </div>
        </div>
        <a href="./le-collectif">Découvrez tous les membres du collectif</a>
        <div>
            <h3>Ils soutiennent le projet</h3>
            <ul>
                <li>
                <li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Le collectif témoigne</h2>
        <ul>
            <li>
            <li>
        </ul>
    </section>

    <section>
        <h2>Une question à nous poser ?</h2>
        <form></form>
    </section>
</main>

{% endblock %}