{% extends "layout.html" %}

{% block content %}

<main>
    <nav>
        <ul>
            <li><a href=".">A propos</a>
            <li><a href="./le-projet/outils">Les outils techniques</a>
            <li><a href="./le-projet/presse">Ils parlent de nous</a>
            <li><a href="./le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section>
        <ul>
            <li>
                <img>
                <span>date</span>
                <h1>date</h1>
                <p>
                <a href=""></a>
            </li>
            <li>
        </ul>
    </section>


</main>

{% endblock %}