{% extends "layout.html" %}

{% block content %}

<main>
    <nav>
        <ul>
            <li><a href="./qui-sommes-nous/le-collectif">Le collectif</a>
            <li><a href="./qui-sommes-nous">Qui fait quoi ?</a>
        </ul>
    </nav>

    <section>
        <form>
            <input type="search" placeholder="Chercher un membre du collectif">
            <h2>Actvités</h2>
            <label>
                <input type="checkbox">
                Accompagnement et conseil
            </label>
        </form>
        <ul>
            <li>
            image, tags, h1, h2, p
            footer (pic, name, job, nb projets partagés)
        </ul>

    </section>


</main>

{% endblock %}