{% extends "layout.html" %}

{% block content %}


<main>
    <nav class="container">
        <ul class="cis-tabs">
            <li><a href="/le-projet">A propos</a>
            <li><a href="/le-projet/outils">Les outils techniques</a>
            <li><a href="/le-projet/parlent-de-nous">Ils parlent de nous</a>
            <li class="selected"><a href="/le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section class="award container">
        <div class="description">
            <img src="/static/logos/recompense/OECD_logo_new.svg.png">
            <time>Octobre 2018</time>
            <h1 class="title is-2">Organisation de coopération et de développement économiques</h1>
            <p>Nous avons été retenus comme l’une des deux innovations françaises par l’Observatoire de l’innovation publique de l’OCDE. Un rapport publié par l’OCDE et des événements permettront de présenter nos travaux à un public international.</p>
            <a href="https://oecd-opsi.org/innovations/carrefour-des-innovations-sociales-social-innovation-crossroad/">Connaître l’OECD</a>
        </div>
    </section>

    <section class="award container">
        <div>
            <img src="/static/photos/fondation.jpg">   
        </div>
        <div class="description">
            <img src="/static/logos/recompense/Fondation_bien_commun.jpg">
            <time>Septembre 2018</time>
            <h1 class="title is-2">Fondation pour la co-construction du bien commun</h1>
            <p>Nous avons reçu la distinction « d’exemple inspirant », catégorie « Projets Cèdre du Liban » décernée par la Fondation pour la co-construction du bien commun.</p>
        </div>
    </section>

    <section class="award container">
        <div>
            <img src="/static/photos/transformateur_numerique.jpg">   
        </div>
        <div class="description">
            <img src="/static/logos/recompense/logo_transformateur_numerique.png">
            <time>Avril 2018</time>
            <h1 class="title is-2">Transformateur numérique</h1>
            <p>Nous avons été lauréat du Transformateur numérique co-organisé par l’Agence nationale pour l’amélioration des conditions de travail (ANACT) et la Fondation Internet Nouvelle Génération (FING).</p>
        </div>
    </section>

    <section class="award container">
        <div>
            <img src="/static/photos/imageEIG.png">   
        </div>
        <div class="description">
            <div>
                <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/Investissements_d'avenir_-_logo.jpeg">
                <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/Etalab logo.PNG">
                <img src="/static/logos/Partenaires/Institution_et_tetes_de_reseau/EIG.png">
            </div>
            <time>Janvier 2018</time>
            <h1 class="title is-2">Entrepreneur d’intérêt Général</h1>
            <p>Nous avons été lauréat du Programme EIG (Entrepreneur d’Intérêt Général), deuxième promotion.Nous avons bénéficié d’un financement du PIA et d’un accompagnement d’Etalab.</p>
        </div>
    </section>

</main>

{% endblock %}