{% extends "layout.html" %}

{% block content %}

<main>
    <nav>
        <ul>
            <li><a href=".">A propos</a>
            <li><a href="./le-projet/outils">Les outils techniques</a>
            <li><a href="./le-projet/presse">Ils parlent de nous</a>
            <li><a href="./le-projet/recompenses">Récompenses</a>
        </ul>
    </nav>

    <section>
        <div>
            <img>
            <h1>Entrepreneur d'Intérêt Général</h1>
            <p>blablba</p>
            <a href=""></a>
        </div>
        <div>
            <img>   
        </div>
    </section>

    <section>
        <div>
            <img>
            <h1>Entrepreneur d'Intérêt Général</h1>
            <p>blablba</p>
            <a href=""></a>
        </div>
        <div>
            <img>   
        </div>
    </section>

    <section>
        <div>
            <img>
            <h1>Entrepreneur d'Intérêt Général</h1>
            <p>blablba</p>
            <a href=""></a>
        </div>
        <div>
            <img>   
        </div>
    </section>


</main>

{% endblock %}